Repository teefeh-07/LoopChat: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, clarinet check, npm test --

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "*.clar": [
    "clarinet check"
  ],
  "tests/**/*.test.ts": [
    "npm test --"
  ]
}

docs: clarify logic in collateral-manager.test
  src/components/Portfolio/ProfitLossAnalytics.tsx
  tests/collateral-manager.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for ProfitLossAnalytics
  src/components/Portfolio/ProfitLossAnalytics.tsx
  tests/collateral-manager.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for ProfitLossAnalytics
  tests/collateral-manager.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for WalletModal
  src/components/WalletConnect/WalletModal.tsx
  tests/strategy-leveraged-yield.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: add technical documentation for strategy-leveraged-yield.test
  src/components/WalletConnect/WalletModal.tsx
  tests/strategy-leveraged-yield.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for strategy-leveraged-yield.test
  src/components/WalletConnect/WalletModal.tsx
Due: eslint --fix, prettier --write

feat: implement logic for fee-tracker
  contracts/fee-tracker.clar
Due: clarinet check

docs: update inline comments for fee-tracker
  contracts/fee-tracker.clar
Due: clarinet check

refactor: standardize exports and formatting for fee-tracker
  contracts/fee-tracker.clar
Due: clarinet check

feat: implement logic for ltv-calculator.test
  tests/ltv-calculator.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for cross-chain-bridge
  contracts/cross-chain-bridge.clar
Due: clarinet check

docs: update inline comments for ltv-calculator.test
  tests/ltv-calculator.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for cross-chain-bridge
  contracts/cross-chain-bridge.clar
  tests/ltv-calculator.test.ts
Due: eslint --fix, prettier --write, clarinet check, npm test --

feat: implement logic for useWallet
  contracts/price-feed-aggregator.clar
  src/hooks/useWallet.js
Due: eslint --fix, prettier --write, clarinet check

docs: add technical documentation for useWallet
  src/hooks/useWallet.js
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for useWallet
  src/hooks/useWallet.js
Due: eslint --fix, prettier --write

feat: implement logic for stacks
  src/components/Portfolio/PortfolioOverview.tsx
  src/types/stacks.ts
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for PortfolioOverview
  src/components/Portfolio/PortfolioOverview.tsx
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for stacks
  src/types/stacks.ts
Due: eslint --fix, prettier --write

feat: implement logic for velar-connector
  contracts/velar-connector.clar
Due: clarinet check

docs: add technical documentation for velar-connector
  contracts/velar-connector.clar
  src/components/Portfolio/PortfolioDashboard.tsx
Due: eslint --fix, prettier --write, clarinet check

refactor: standardize exports and formatting for velar-connector
  src/components/Portfolio/PortfolioDashboard.tsx
Due: eslint --fix, prettier --write

docs: clarify logic in risk-parameters.test
  tests/risk-parameters.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for risk-parameters.test
  tests/risk-parameters.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for risk-parameters.test
  tests/risk-parameters.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: clarify logic in proposal-executor.test
  tests/proposal-executor.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for proposal-executor.test
  tests/proposal-executor.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for proposal-executor.test
  tests/proposal-executor.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for walletDetection
  src/utils/walletDetection.ts
Due: eslint --fix, prettier --write

feat: implement logic for LeatherAdapter
  src/services/wallets/LeatherAdapter.ts
  src/utils/walletDetection.ts
Due: eslint --fix, prettier --write

docs: add technical documentation for walletDetection
  src/utils/walletDetection.ts
Due: eslint --fix, prettier --write

docs: add technical documentation for LeatherAdapter
  src/services/wallets/LeatherAdapter.ts
Due: eslint --fix, prettier --write

feat: implement logic for errorHandler
  src/utils/errorHandler.js
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for LeatherAdapter
  src/services/wallets/LeatherAdapter.ts
Due: eslint --fix, prettier --write

docs: clarify logic in errorHandler
  src/utils/errorHandler.js
Due: eslint --fix, prettier --write

feat: implement logic for liquidation-engine
  contracts/liquidation-engine.clar
  src/utils/errorHandler.js
Due: eslint --fix, prettier --write, clarinet check

docs: clarify logic in liquidation-engine
  contracts/liquidation-engine.clar
Due: clarinet check

refactor: standardize exports and formatting for liquidation-engine
  contracts/liquidation-engine.clar
Due: clarinet check

refactor: standardize exports and formatting for Landing
  src/pages/Landing.tsx
Due: eslint --fix, prettier --write

docs: clarify logic in Landing
  src/pages/Landing.tsx
Due: eslint --fix, prettier --write
