Repository teefeh-07/LoopChat: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, clarinet check, npm test --

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "*.clar": [
    "clarinet check"
  ],
  "tests/**/*.test.ts": [
    "npm test --"
  ]
}

feat: implement logic for liquidation-engine.test
  tests/liquidation-engine.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: add technical documentation for liquidation-engine.test
  tests/liquidation-engine.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for liquidation-engine.test
  tests/liquidation-engine.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: clarify logic in useChainhookEvents
  src/hooks/useChainhookEvents.js
Due: eslint --fix, prettier --write

feat: implement logic for useChainhookEvents
  src/hooks/useChainhookEvents.js
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for useChainhookEvents
  src/hooks/useChainhookEvents.js
Due: eslint --fix, prettier --write

feat: implement logic for access-control
  contracts/access-control.clar
Due: clarinet check

docs: update inline comments for access-control
  contracts/access-control.clar
Due: clarinet check

refactor: standardize exports and formatting for access-control
  contracts/access-control.clar
Due: clarinet check

feat: implement logic for string-utils.test
  tests/string-utils.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: update inline comments for string-utils.test
  tests/string-utils.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for string-utils.test
  tests/string-utils.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: add technical documentation for PortfolioDashboard
  src/components/Portfolio/PortfolioDashboard.tsx
Due: eslint --fix, prettier --write

docs: clarify logic in mock-token.test
  tests/mock-token.test.ts
  tests/token-vesting.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for health-factor-monitor
  tests/mock-token.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: clarify logic in health-factor-monitor
  contracts/health-factor-monitor.clar
Due: clarinet check

refactor: standardize exports and formatting for health-factor-monitor
  contracts/health-factor-monitor.clar
Due: clarinet check

feat: implement logic for contracts
  src/config/contracts.ts
Due: eslint --fix, prettier --write

docs: update inline comments for contracts
  src/config/contracts.ts
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for contracts
  src/config/contracts.ts
Due: eslint --fix, prettier --write

docs: update inline comments for token-emissions.test
  tests/token-emissions.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for token-emissions.test
  tests/token-emissions.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: add technical documentation for vault-timelock.test
  tests/vault-timelock.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for vault-timelock.test
  tests/token-emissions.test.ts
  tests/vault-timelock.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for vault-timelock.test
  tests/vault-timelock.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for health-factor-monitor
  contracts/health-factor-monitor.clar
Due: clarinet check

docs: add technical documentation for WalletConnectAdapter
  src/services/wallets/WalletConnectAdapter.ts
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for WalletConnectAdapter
  src/services/wallets/WalletConnectAdapter.ts
Due: eslint --fix, prettier --write

docs: update inline comments for security.test
  src/services/wallets/WalletConnectAdapter.ts
  tests/security.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for security.test
  tests/security.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for oracle-security.test
  tests/oracle-security.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: add technical documentation for oracle-security.test
  tests/oracle-security.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for oracle-security.test
  tests/oracle-security.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for strategy-velar-lp.test
  tests/strategy-velar-lp.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: update inline comments for strategy-velar-lp.test
  tests/strategy-velar-lp.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for strategy-options-selling
  contracts/strategy-options-selling.clar
Due: clarinet check

refactor: standardize exports and formatting for strategy-velar-lp.test
  contracts/strategy-options-selling.clar
  tests/strategy-velar-lp.test.ts
Due: eslint --fix, prettier --write, clarinet check, npm test --

feat: implement logic for csvExport
  src/utils/csvExport.ts
Due: eslint --fix, prettier --write
