Repository teefeh-07/LoopChat: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, clarinet check, npm test --

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "*.clar": [
    "clarinet check"
  ],
  "tests/**/*.test.ts": [
    "npm test --"
  ]
}

feat: implement logic for test-token-b
  contracts/test-token-b.clar
Due: clarinet check

docs: add technical documentation for test-token-b
  contracts/test-token-b.clar
Due: clarinet check

refactor: standardize exports and formatting for test-token-b
  contracts/test-token-b.clar
Due: clarinet check

feat: implement WalletConnect integration
  src/services/wallets/WalletConnectAdapter.ts
  src/services/wallets/WalletManager.ts
Due: eslint --fix, prettier --write

feat: implement logic for errorRecovery
  src/services/errorRecovery.js
Due: eslint --fix, prettier --write

docs: add technical documentation for errorRecovery
  src/services/errorRecovery.js
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for errorRecovery
  src/services/errorRecovery.js
Due: eslint --fix, prettier --write

feat: implement Chainhook Service integration
  src/services/ChainhookService.ts
Due: eslint --fix, prettier --write

feat: implement logic for price-feed-aggregator
  contracts/price-feed-aggregator.clar
Due: clarinet check

docs: add technical documentation for price-feed-aggregator
  contracts/price-feed-aggregator.clar
Due: clarinet check

refactor: standardize exports and formatting for price-feed-aggregator
  contracts/price-feed-aggregator.clar
Due: clarinet check

feat: implement logic for health-factor-monitor
  contracts/health-factor-monitor.clar
Due: clarinet check

docs: add technical documentation for health-factor-monitor
  contracts/health-factor-monitor.clar
Due: clarinet check

refactor: standardize exports and formatting for health-factor-monitor
  contracts/health-factor-monitor.clar
Due: clarinet check

feat: implement logic for liquidation-bot
  contracts/liquidation-bot.clar
Due: clarinet check

docs: add technical documentation for liquidation-bot
  contracts/liquidation-bot.clar
Due: clarinet check

refactor: standardize exports and formatting for liquidation-bot
  contracts/liquidation-bot.clar
Due: clarinet check

chore: initial project setup (configs, scripts, assets)
  README.md
  scripts/auto_commit_strategy.cjs
Due: prettier --write

feat: implement logic for arkadiko-connector
  contracts/arkadiko-connector.clar
Due: clarinet check

docs: add technical documentation for arkadiko-connector
  contracts/arkadiko-connector.clar
Due: clarinet check

refactor: standardize exports and formatting for arkadiko-connector
  contracts/arkadiko-connector.clar
Due: clarinet check

chore: initial project setup (configs, scripts, assets)
  scripts/auto_commit_strategy.cjs
Due: none

feat: implement logic for collateral-manager
  contracts/collateral-manager.clar
Due: clarinet check

docs: add technical documentation for collateral-manager
  contracts/collateral-manager.clar
Due: clarinet check

refactor: standardize exports and formatting for collateral-manager
  contracts/collateral-manager.clar
Due: clarinet check

feat: implement logic for kyc-registry
  contracts/kyc-registry.clar
Due: clarinet check

docs: add technical documentation for kyc-registry
  contracts/kyc-registry.clar
Due: clarinet check

refactor: standardize exports and formatting for kyc-registry
  contracts/kyc-registry.clar
Due: clarinet check

docs: add technical documentation for strategy-arkadiko-stake.test
  tests/strategy-arkadiko-stake.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for strategy-arkadiko-stake.test
  tests/strategy-arkadiko-stake.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for test-helpers
  contracts/test-helpers.clar
Due: clarinet check

docs: add technical documentation for test-helpers
  contracts/test-helpers.clar
Due: clarinet check

refactor: standardize exports and formatting for test-helpers
  contracts/test-helpers.clar
Due: clarinet check

feat: implement logic for ltv-calculator
  contracts/ltv-calculator.clar
Due: clarinet check

docs: add technical documentation for ltv-calculator
  contracts/ltv-calculator.clar
Due: clarinet check

refactor: standardize exports and formatting for ltv-calculator
  contracts/ltv-calculator.clar
Due: clarinet check

feat: implement logic for vault-factory
  contracts/vault-factory.clar
Due: clarinet check

docs: add technical documentation for vault-factory
  contracts/vault-factory.clar
Due: clarinet check

refactor: standardize exports and formatting for vault-factory
  contracts/vault-factory.clar
Due: clarinet check

feat: implement logic for performance-tracker
  contracts/performance-tracker.clar
Due: clarinet check
