Repository teefeh-07/LoopChat: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, clarinet check, npm test --

docs: update inline comments for csvExport
  src/utils/csvExport.ts
Due: eslint --fix, prettier --write

feat: implement logic for Landing
  src/pages/Landing.tsx
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for Landing
  src/pages/Landing.tsx
Due: eslint --fix, prettier --write

docs: add technical documentation for Landing
  src/pages/Landing.tsx
Due: eslint --fix, prettier --write

docs: update inline comments for DashboardPage
  src/pages/DashboardPage.tsx
Due: eslint --fix, prettier --write

feat: implement logic for DashboardPage
  src/pages/DashboardPage.tsx
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for DashboardPage
  src/pages/DashboardPage.tsx
Due: eslint --fix, prettier --write

docs: add technical documentation for test-token-b.test
  tests/test-token-b.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for test-token-b.test
  tests/test-token-b.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for test-token-a.test
  tests/test-token-a.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for test-token-a.test
  tests/test-token-a.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: add technical documentation for test-token-a.test
  tests/test-token-a.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for access-control.test
  tests/access-control.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for access-control.test
  tests/access-control.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: update inline comments for access-control.test
  tests/access-control.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for property-based.test
  tests/property-based.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for property-based.test
  tests/property-based.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: update inline comments for property-based.test
  tests/property-based.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for portfolioCalculations
  src/utils/portfolioCalculations.ts
Due: eslint --fix, prettier --write

docs: clarify logic in portfolioCalculations
  src/utils/portfolioCalculations.ts
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for portfolioCalculations
  src/utils/portfolioCalculations.ts
Due: eslint --fix, prettier --write

feat: implement logic for price-oracle-pyth
  contracts/price-oracle-pyth.clar
Due: clarinet check

refactor: standardize exports and formatting for price-oracle-pyth
  contracts/price-oracle-pyth.clar
Due: clarinet check

docs: update inline comments for price-oracle-pyth
  contracts/price-oracle-pyth.clar
Due: clarinet check

docs: clarify logic in vault-governance
  contracts/vault-governance.clar
Due: clarinet check

feat: implement logic for vault-governance
  contracts/vault-governance.clar
Due: clarinet check

refactor: standardize exports and formatting for vault-governance
  contracts/vault-governance.clar
Due: clarinet check

feat: implement logic for vault-treasury.test
  tests/vault-treasury.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for vault-treasury.test
  tests/vault-treasury.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: update inline comments for vault-treasury.test
  tests/vault-treasury.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for price-feed-aggregator
  contracts/price-feed-aggregator.clar
Due: clarinet check

refactor: standardize exports and formatting for price-feed-aggregator
  contracts/price-feed-aggregator.clar
Due: clarinet check

docs: clarify logic in price-feed-aggregator
  contracts/price-feed-aggregator.clar
Due: clarinet check

feat: implement logic for walletConnectClient
  src/utils/walletConnectClient.js
Due: eslint --fix, prettier --write

docs: clarify logic in walletConnectClient
  src/utils/walletConnectClient.js
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for walletConnectClient
  src/utils/walletConnectClient.js
Due: eslint --fix, prettier --write

feat: implement logic for strategy-lending.test
  tests/strategy-lending.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: update inline comments for strategy-lending.test
  tests/strategy-lending.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for strategy-lending.test
  tests/strategy-lending.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for WalletSwitcher
  src/components/WalletConnect/WalletSwitcher.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})
  clarinet check: any of: *.clar
  npm test --: any of: tests/**/*.test.ts
