Repository teefeh-07/LoopChat: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, clarinet check, npm test --

refactor: standardize exports and formatting for portfolioConfig
  src/config/portfolioConfig.ts
Due: eslint --fix, prettier --write

docs: add technical documentation for strategy-lending
  contracts/strategy-lending.clar
Due: clarinet check

feat: implement logic for strategy-lending
  contracts/strategy-lending.clar
Due: clarinet check

refactor: standardize exports and formatting for strategy-lending
  contracts/strategy-lending.clar
Due: clarinet check

docs: add technical documentation for errorRecovery
  src/services/errorRecovery.js
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for errorRecovery
  src/services/errorRecovery.js
Due: eslint --fix, prettier --write

feat: implement logic for UpdatePrompt
  src/components/UpdatePrompt.tsx
Due: eslint --fix, prettier --write

docs: add technical documentation for UpdatePrompt
  src/components/UpdatePrompt.tsx
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for UpdatePrompt
  src/components/UpdatePrompt.tsx
Due: eslint --fix, prettier --write

feat: implement logic for risk-parameters
  contracts/risk-parameters.clar
Due: clarinet check

docs: add technical documentation for risk-parameters
  contracts/risk-parameters.clar
Due: clarinet check

refactor: standardize exports and formatting for risk-parameters
  contracts/risk-parameters.clar
Due: clarinet check

feat: implement logic for vault-insurance
  contracts/vault-insurance.clar
Due: clarinet check

refactor: standardize exports and formatting for vault-insurance
  contracts/vault-insurance.clar
Due: clarinet check

docs: add technical documentation for vault-insurance
  contracts/vault-insurance.clar
Due: clarinet check

docs: add technical documentation for mock-dex.test
  tests/mock-dex.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for mock-dex.test
  tests/mock-dex.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for InstallPrompt
  src/components/InstallPrompt.tsx
Due: eslint --fix, prettier --write

docs: add technical documentation for InstallPrompt
  src/components/InstallPrompt.tsx
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for InstallPrompt
  src/components/InstallPrompt.tsx
Due: eslint --fix, prettier --write

feat: implement logic for validation-utils
  contracts/validation-utils.clar
Due: clarinet check

docs: add technical documentation for validation-utils
  contracts/validation-utils.clar
Due: clarinet check

refactor: standardize exports and formatting for validation-utils
  contracts/validation-utils.clar
Due: clarinet check

feat: implement logic for credit-scoring
  contracts/credit-scoring.clar
Due: clarinet check

docs: add technical documentation for credit-scoring
  contracts/credit-scoring.clar
Due: clarinet check

refactor: standardize exports and formatting for credit-scoring
  contracts/credit-scoring.clar
Due: clarinet check

docs: add technical documentation for vault-factory.test
  tests/vault-factory.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for vault-factory.test
  tests/vault-factory.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for contracts
  src/config/contracts.ts
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for contracts
  src/config/contracts.ts
Due: eslint --fix, prettier --write

docs: add technical documentation for contracts
  src/config/contracts.ts
Due: eslint --fix, prettier --write

feat: implement logic for proposal-executor
  contracts/proposal-executor.clar
Due: clarinet check

docs: add technical documentation for proposal-executor
  contracts/proposal-executor.clar
Due: clarinet check

refactor: standardize exports and formatting for proposal-executor
  contracts/proposal-executor.clar
Due: clarinet check

feat: implement logic for vault-emergency
  contracts/vault-emergency.clar
Due: clarinet check

docs: add technical documentation for vault-emergency
  contracts/vault-emergency.clar
Due: clarinet check

refactor: standardize exports and formatting for vault-emergency
  contracts/vault-emergency.clar
Due: clarinet check

feat: implement logic for signature-verifier
  contracts/signature-verifier.clar
Due: clarinet check

refactor: standardize exports and formatting for signature-verifier
  contracts/signature-verifier.clar
Due: clarinet check

docs: add technical documentation for signature-verifier
  contracts/signature-verifier.clar
Due: clarinet check

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})
  clarinet check: any of: *.clar
  npm test --: any of: tests/**/*.test.ts
