Repository teefeh-07/LoopChat: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, clarinet check, npm test --

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "*.clar": [
    "clarinet check"
  ],
  "tests/**/*.test.ts": [
    "npm test --"
  ]
}

refactor: standardize exports and formatting for portfolioCalculations
  src/utils/portfolioCalculations.ts
Due: eslint --fix, prettier --write

feat: implement logic for index
  src/components/Portfolio/index.ts
Due: eslint --fix, prettier --write

docs: add technical documentation for wallet-integration.test
  src/components/Portfolio/index.ts
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for wallet-integration.test
  src/__tests__/integration/wallet-integration.test.js
  src/components/Portfolio/index.ts
Due: eslint --fix, prettier --write

docs: update inline comments for velar-connector.test
  tests/velar-connector.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for strategy-engine.test
  tests/strategy-engine.test.ts
  tests/velar-connector.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: update inline comments for strategy-engine.test
  tests/strategy-engine.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: add technical documentation for property-based.test
  tests/property-based.test.ts
  tests/strategy-engine.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for property-based.test
  tests/property-based.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for InstallPrompt
  src/components/InstallPrompt.tsx
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for InstallPrompt
  src/components/InstallPrompt.tsx
Due: eslint --fix, prettier --write

feat: implement logic for errorLogger
  src/services/errorLogger.js
Due: eslint --fix, prettier --write

feat: implement logic for array-utils.test
  tests/array-utils.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: add technical documentation for errorLogger
  src/services/errorLogger.js
Due: eslint --fix, prettier --write

docs: add technical documentation for array-utils.test
  tests/array-utils.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for array-utils.test
  tests/array-utils.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: clarify logic in strategy-yield-farming.test
  tests/strategy-yield-farming.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for strategy-yield-farming.test
  tests/strategy-liquidity-mining.test.ts
  tests/strategy-yield-farming.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: clarify logic in strategy-liquidity-mining.test
  tests/strategy-liquidity-mining.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for strategy-liquidity-mining.test
  tests/strategy-liquidity-mining.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for alex-connector.test
  tests/alex-connector.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: clarify logic in alex-connector.test
  tests/alex-connector.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for alex-connector.test
  tests/alex-connector.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for main
  src/main.tsx
  src/services/errorLogger.js
Due: eslint --fix, prettier --write

docs: clarify logic in main
  src/main.tsx
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for main
  src/main.tsx
Due: eslint --fix, prettier --write

docs: update inline comments for gracefulDegradation
  src/utils/gracefulDegradation.js
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for gracefulDegradation
  src/utils/gracefulDegradation.js
  tests/voting-escrow.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: clarify logic in voting-escrow.test
  tests/voting-escrow.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for voting-escrow.test
  tests/voting-escrow.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: add technical documentation for conversion-utils
  contracts/conversion-utils.clar
Due: clarinet check

feat: implement logic for vault-fee-collector.test
  tests/vault-fee-collector.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: update inline comments for validation
  src/utils/validation.js
Due: eslint --fix, prettier --write

docs: update inline comments for vault-fee-collector.test
  src/utils/validation.js
  tests/vault-fee-collector.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for validation
  src/utils/validation.js
Due: eslint --fix, prettier --write

feat: implement logic for mock-dex.test
  tests/mock-dex.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: update inline comments for mock-dex.test
  tests/mock-dex.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for components
  src/types/components.ts
Due: eslint --fix, prettier --write

docs: update inline comments for components
  src/types/components.ts
  tests/mock-dex.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for volatility-tracker.test
  tests/volatility-tracker.test.ts
Due: eslint --fix, prettier --write, npm test --
