Repository teefeh-07/LoopChat: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, clarinet check, npm test --

feat: implement logic for risk-assessment.test
  tests/risk-assessment.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for user-registry
  contracts/user-registry.clar
Due: clarinet check

feat: implement logic for mock-token
  contracts/user-registry.clar
Due: clarinet check

refactor: standardize exports and formatting for user-registry
  contracts/user-registry.clar
Due: clarinet check

refactor: standardize exports and formatting for mock-token
  contracts/mock-token.clar
Due: clarinet check

docs: update inline comments for walletDetection
  src/utils/walletDetection.ts
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for walletDetection
  src/utils/walletDetection.ts
Due: eslint --fix, prettier --write

feat: implement logic for walletDetection
  contracts/mock-token.clar
  src/utils/walletDetection.ts
Due: eslint --fix, prettier --write, clarinet check

feat: implement logic for AllocationChart
  src/components/Portfolio/AllocationChart.tsx
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for oracle-security
  contracts/oracle-security.clar
  src/components/Portfolio/AllocationChart.tsx
Due: eslint --fix, prettier --write, clarinet check

docs: update inline comments for oracle-security
  contracts/oracle-security.clar
  src/components/Portfolio/AllocationChart.tsx
Due: eslint --fix, prettier --write, clarinet check

refactor: standardize exports and formatting for BoomAdapter
  src/services/wallets/BoomAdapter.ts
Due: eslint --fix, prettier --write

docs: clarify logic in BoomAdapter
  src/services/wallets/BoomAdapter.ts
Due: eslint --fix, prettier --write

feat: implement logic for BoomAdapter
  src/services/wallets/BoomAdapter.ts
Due: eslint --fix, prettier --write

docs: add technical documentation for mock-token.test
  tests/mock-token.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for mock-token.test
  tests/mock-token.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for mock-token.test
  tests/mock-token.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: add technical documentation for setup
  src/__tests__/setup.js
Due: eslint --fix, prettier --write

feat: implement logic for setup
  src/__tests__/setup.js
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for setup
  src/__tests__/setup.js
Due: eslint --fix, prettier --write

feat: implement logic for main
  src/main.tsx
Due: eslint --fix, prettier --write

docs: clarify logic in main
  src/main.tsx
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for main
  src/main.tsx
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for voting-escrow
  contracts/voting-escrow.clar
Due: clarinet check

docs: update inline comments for voting-escrow
  contracts/voting-escrow.clar
Due: clarinet check

feat: implement logic for voting-escrow
  contracts/voting-escrow.clar
Due: clarinet check

feat: implement logic for errorTypes
  src/utils/errorTypes.js
Due: eslint --fix, prettier --write

docs: clarify logic in errorTypes
  src/utils/errorTypes.js
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for errorTypes
  src/utils/errorTypes.js
Due: eslint --fix, prettier --write

docs: add technical documentation for stackswap-connector
  contracts/stackswap-connector.clar
Due: clarinet check

feat: implement logic for stackswap-connector
  contracts/stackswap-connector.clar
Due: clarinet check

refactor: standardize exports and formatting for stackswap-connector
  contracts/stackswap-connector.clar
Due: clarinet check

feat: implement logic for mock-token
  contracts/mock-token.clar
Due: clarinet check

docs: update inline comments for mock-token
  contracts/mock-token.clar
Due: clarinet check

docs: clarify logic in vault-registry.test
  tests/vault-registry.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for vault-registry.test
  tests/vault-registry.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for vault-registry.test
  tests/vault-registry.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for liquidation-engine.test
  tests/liquidation-engine.test.ts
Due: eslint --fix, prettier --write, npm test --

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})
  clarinet check: any of: *.clar
  npm test --: any of: tests/**/*.test.ts
