Repository teefeh-07/LoopChat: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, clarinet check, npm test --

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "*.clar": [
    "clarinet check"
  ],
  "tests/**/*.test.ts": [
    "npm test --"
  ]
}

docs: clarify logic in volatility-tracker.test
  contracts/strategy-arbitrage.clar
  tests/volatility-tracker.test.ts
Due: eslint --fix, prettier --write, clarinet check, npm test --

refactor: standardize exports and formatting for volatility-tracker.test
  contracts/strategy-arbitrage.clar
  tests/volatility-tracker.test.ts
Due: eslint --fix, prettier --write, clarinet check, npm test --

refactor: standardize exports and formatting for strategy-arbitrage
  contracts/strategy-arbitrage.clar
Due: clarinet check

feat: implement logic for access-control.test
  tests/access-control.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: add technical documentation for vault-integration
  tests/access-control.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for vault-integration
  src/examples/vault-integration.ts
  tests/access-control.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for event-emitter.test
  tests/event-emitter.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: add technical documentation for mobileUtils
  src/utils/mobileUtils.ts
  tests/event-emitter.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for mobileUtils
  src/utils/mobileUtils.ts
Due: eslint --fix, prettier --write

docs: update inline comments for liquidation-bot.test
  tests/liquidation-bot.test.ts
  tests/vault-governance.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: clarify logic in vault-governance.test
  tests/liquidation-bot.test.ts
  tests/vault-governance.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for vault-governance.test
  tests/vault-governance.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for arkadiko-connector.test
  contracts/metrics-aggregator.clar
  tests/arkadiko-connector.test.ts
  tests/vault-governance.test.ts
Due: eslint --fix, prettier --write, clarinet check, npm test --

refactor: standardize exports and formatting for metrics-aggregator
  tests/arkadiko-connector.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: add technical documentation for metrics-aggregator
  contracts/metrics-aggregator.clar
  tests/arkadiko-connector.test.ts
Due: eslint --fix, prettier --write, clarinet check, npm test --

feat: implement logic for alex-connector
  contracts/alex-connector.clar
  tests/risk-parameters.test.ts
Due: eslint --fix, prettier --write, clarinet check, npm test --

docs: update inline comments for risk-parameters.test
  tests/risk-parameters.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for risk-parameters.test
  contracts/alex-connector.clar
Due: clarinet check

feat: implement logic for analytics-tracker.test
  src/hooks/__tests__/useWallet.test.js
  tests/analytics-tracker.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for useWallet.test
  src/hooks/__tests__/useWallet.test.js
Due: eslint --fix, prettier --write

docs: clarify logic in analytics-tracker.test
  src/hooks/__tests__/useWallet.test.js
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for analytics-tracker.test
  tests/analytics-tracker.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: clarify logic in pwaConfig
  src/config/pwaConfig.ts
Due: eslint --fix, prettier --write

feat: implement logic for stacks-client
  src/lib/stacks-client.ts
Due: eslint --fix, prettier --write

docs: clarify logic in stacks-client
  src/lib/stacks-client.ts
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for stacks-client
  src/lib/stacks-client.ts
Due: eslint --fix, prettier --write

feat: implement logic for ChainhookService
  src/services/ChainhookService.ts
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for RiskMetrics
  src/components/Portfolio/RiskMetrics.tsx
Due: eslint --fix, prettier --write

docs: update inline comments for ChainhookService
  src/services/ChainhookService.ts
Due: eslint --fix, prettier --write

feat: implement logic for reporting-engine
  contracts/reporting-engine.clar
Due: clarinet check

docs: add technical documentation for reporting-engine
  contracts/reporting-engine.clar
Due: clarinet check

refactor: standardize exports and formatting for reporting-engine
  contracts/reporting-engine.clar
Due: clarinet check

feat: implement logic for strategy-delta-neutral
  contracts/strategy-delta-neutral.clar
Due: clarinet check

feat: implement logic for WalletManager
  contracts/strategy-delta-neutral.clar
  src/services/wallets/WalletManager.ts
Due: eslint --fix, prettier --write, clarinet check

docs: clarify logic in strategy-delta-neutral
  contracts/strategy-delta-neutral.clar
Due: clarinet check

docs: update inline comments for WalletManager
  src/services/wallets/WalletManager.ts
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for WalletManager
  src/services/wallets/WalletManager.ts
  tests/encoding-utils.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for encoding-utils.test
  tests/encoding-utils.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for PortfolioOverview
  src/components/Portfolio/PortfolioOverview.tsx
Due: eslint --fix, prettier --write

docs: add technical documentation for encoding-utils.test
  tests/encoding-utils.test.ts
Due: eslint --fix, prettier --write, npm test --
