Repository teefeh-07/LoopChat: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, clarinet check, npm test --

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "*.clar": [
    "clarinet check"
  ],
  "tests/**/*.test.ts": [
    "npm test --"
  ]
}

refactor: standardize exports and formatting for HowItWorks
  src/pages/HowItWorks.tsx
Due: eslint --fix, prettier --write

docs: add technical documentation for HowItWorks
  src/pages/HowItWorks.tsx
Due: eslint --fix, prettier --write

feat: implement logic for HowItWorks
  src/pages/HowItWorks.tsx
Due: eslint --fix, prettier --write

docs: update inline comments for voting-escrow.test
  tests/voting-escrow.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for voting-escrow.test
  tests/voting-escrow.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for voting-escrow.test
  tests/voting-escrow.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for ltv-calculator.test
  tests/ltv-calculator.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: update inline comments for ltv-calculator.test
  tests/ltv-calculator.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for ltv-calculator.test
  tests/ltv-calculator.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for performanceOptimization
  src/utils/performanceOptimization.ts
Due: eslint --fix, prettier --write

docs: update inline comments for performanceOptimization
  src/utils/performanceOptimization.ts
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for performanceOptimization
  src/utils/performanceOptimization.ts
Due: eslint --fix, prettier --write

docs: clarify logic in retryLogic
  src/utils/retryLogic.js
Due: eslint --fix, prettier --write

feat: implement logic for retryLogic
  src/utils/retryLogic.js
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for retryLogic
  src/utils/retryLogic.js
Due: eslint --fix, prettier --write

feat: implement logic for portfolioCalculations
  src/utils/portfolioCalculations.ts
Due: eslint --fix, prettier --write

docs: update inline comments for portfolioCalculations
  src/utils/portfolioCalculations.ts
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for portfolioCalculations
  src/utils/portfolioCalculations.ts
Due: eslint --fix, prettier --write

feat: implement logic for vault-factory.test
  tests/vault-factory.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: clarify logic in vault-factory.test
  tests/vault-factory.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for vault-factory.test
  tests/vault-factory.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for arkadiko-connector.test
  tests/arkadiko-connector.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: clarify logic in arkadiko-connector.test
  tests/arkadiko-connector.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for arkadiko-connector.test
  tests/arkadiko-connector.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for multi-sig
  contracts/multi-sig.clar
Due: clarinet check

docs: add technical documentation for multi-sig
  contracts/multi-sig.clar
Due: clarinet check

refactor: standardize exports and formatting for multi-sig
  contracts/multi-sig.clar
Due: clarinet check

feat: implement logic for token-emissions
  contracts/token-emissions.clar
Due: clarinet check

docs: add technical documentation for token-emissions
  contracts/token-emissions.clar
Due: clarinet check

refactor: standardize exports and formatting for token-emissions
  contracts/token-emissions.clar
Due: clarinet check

feat: implement logic for index
  server/index.js
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for index
  server/index.js
Due: eslint --fix, prettier --write

docs: clarify logic in index
  server/index.js
Due: eslint --fix, prettier --write

feat: implement logic for metrics-aggregator
  contracts/metrics-aggregator.clar
Due: clarinet check

docs: update inline comments for metrics-aggregator
  contracts/metrics-aggregator.clar
Due: clarinet check

refactor: standardize exports and formatting for metrics-aggregator
  contracts/metrics-aggregator.clar
Due: clarinet check

feat: implement logic for WalletConnect
  src/components/WalletConnect.tsx
Due: eslint --fix, prettier --write

docs: update inline comments for WalletConnect
  src/components/WalletConnect.tsx
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for WalletConnect
  src/components/WalletConnect.tsx
Due: eslint --fix, prettier --write

docs: clarify logic in velar-connector.test
  tests/velar-connector.test.ts
Due: eslint --fix, prettier --write, npm test --
