Repository teefeh-07/LoopChat: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, clarinet check, npm test --

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "*.clar": [
    "clarinet check"
  ],
  "tests/**/*.test.ts": [
    "npm test --"
  ]
}

docs: update inline comments for ltv-calculator
  contracts/ltv-calculator.clar
Due: clarinet check

refactor: standardize exports and formatting for ltv-calculator
  tests/vault-fee-collector.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for vault-fee-collector.test
  tests/vault-fee-collector.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: update inline comments for vault-fee-collector.test
  tests/vault-fee-collector.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for walletConfig
  src/config/walletConfig.ts
Due: eslint --fix, prettier --write

docs: clarify logic in walletConfig
  src/config/walletConfig.ts
Due: eslint --fix, prettier --write

feat: implement logic for strategy-options-selling.test
  tests/strategy-options-selling.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for walletConfig
  src/config/walletConfig.ts
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for strategy-options-selling.test
  tests/strategy-options-selling.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for MobileModal
  src/components/MobileModal.tsx
Due: eslint --fix, prettier --write

docs: add technical documentation for MobileModal
  src/components/MobileModal.tsx
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for MobileModal
  src/components/MobileModal.tsx
Due: eslint --fix, prettier --write

feat: implement logic for WalletModal
  src/components/WalletConnect/WalletModal.tsx
Due: eslint --fix, prettier --write

docs: add technical documentation for WalletModal
  contracts/oracle-security.clar
  src/components/WalletConnect/WalletModal.tsx
Due: eslint --fix, prettier --write, clarinet check

refactor: standardize exports and formatting for WalletModal
  src/components/WalletConnect/WalletModal.tsx
Due: eslint --fix, prettier --write

feat: implement logic for strategy-flash-loans.test
  src/components/WalletConnect/WalletModal.tsx
  tests/strategy-flash-loans.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: clarify logic in strategy-flash-loans.test
  tests/price-feed-aggregator.test.ts
  tests/strategy-flash-loans.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: add technical documentation for price-feed-aggregator.test
  tests/price-feed-aggregator.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for price-feed-aggregator.test
  tests/price-feed-aggregator.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for useChainhookEvents
  src/hooks/useChainhookEvents.js
Due: eslint --fix, prettier --write

feat: implement logic for gas-optimization.test
  src/hooks/useChainhookEvents.js
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for useChainhookEvents
  src/hooks/useChainhookEvents.js
  tests/gas-optimization.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for stackswap-connector
  contracts/stackswap-connector.clar
Due: clarinet check

feat: implement logic for faucet.test
  tests/faucet.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for faucet.test
  tests/faucet.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for stackswap-connector
  contracts/stackswap-connector.clar
  tests/faucet.test.ts
Due: eslint --fix, prettier --write, clarinet check, npm test --

feat: implement logic for Landing
  src/pages/Landing.tsx
Due: eslint --fix, prettier --write

docs: add technical documentation for Landing
  src/pages/Landing.tsx
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for Landing
  src/pages/Landing.tsx
Due: eslint --fix, prettier --write

feat: implement logic for strategy-arbitrage.test
  tests/strategy-arbitrage.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for strategy-arbitrage.test
  tests/strategy-arbitrage.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: add technical documentation for strategy-arbitrage.test
  tests/strategy-arbitrage.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for array-utils.test
  tests/array-utils.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: add technical documentation for array-utils.test
  tests/array-utils.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for array-utils.test
  tests/array-utils.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for math-library.test
  tests/math-library.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: clarify logic in math-library.test
  tests/math-library.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for math-library.test
  tests/math-library.test.ts
Due: eslint --fix, prettier --write, npm test --

chore: finalize remaining changes and docs
  contracts/ltv-calculator.clar
  contracts/oracle-security.clar
  contracts/price-feed-aggregator.clar
  contracts/velar-connector.clar
  src/components/Portfolio/ProfitLossAnalytics.tsx
  tests/gas-optimization.test.ts
  tests/strategy-flash-loans.test.ts
  tests/strategy-leveraged-yield.test.ts
  tests/strategy-yield-farming.test.ts
Due: eslint --fix, prettier --write, clarinet check, npm test --

docs: update inline comments for portfolioCalculations
  src/utils/portfolioCalculations.ts
Due: eslint --fix, prettier --write
