Repository teefeh-07/LoopChat: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, clarinet check, npm test --

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "*.clar": [
    "clarinet check"
  ],
  "tests/**/*.test.ts": [
    "npm test --"
  ]
}

refactor: standardize exports and formatting for vault-insurance.test
  tests/vault-insurance.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: update inline comments for vault-rewards
  contracts/vault-rewards.clar
Due: clarinet check

refactor: standardize exports and formatting for vault-rewards
  contracts/vault-rewards.clar
Due: clarinet check

refactor: standardize exports and formatting for strategy-hedging.test
  tests/strategy-hedging.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for volatility-tracker.test
  tests/volatility-tracker.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for strategy-engine.test
  tests/strategy-engine.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for strategy-engine.test
  tests/strategy-engine.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for retryLogic
  src/utils/retryLogic.js
Due: eslint --fix, prettier --write

feat: implement logic for multi-sig.test
  tests/multi-sig.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: clarify logic in multi-sig.test
  tests/multi-sig.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for wrapped-token-manager.test
  tests/wrapped-token-manager.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for performanceMonitor
  src/utils/performanceMonitor.js
Due: eslint --fix, prettier --write

docs: clarify logic in strategy-lending.test
  tests/strategy-lending.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for test-token-b.test
  tests/test-token-b.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: clarify logic in test-token-b.test
  tests/test-token-b.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for TransactionHistory
  src/components/Portfolio/TransactionHistory.tsx
  tests/test-token-b.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: add technical documentation for TransactionHistory
  src/components/Portfolio/TransactionHistory.tsx
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for TransactionHistory
  src/components/Portfolio/TransactionHistory.tsx
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for AllocationChart
  src/components/Portfolio/AllocationChart.tsx
Due: eslint --fix, prettier --write

chore: force save state
  scripts/merge_all_v2.cjs
  src/components/Navigation.tsx
  src/components/Portfolio/AllocationChart.tsx
  src/utils/serviceWorkerRegistration.ts
  tests/wrapped-token-manager.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for price-oracle-redstone.test
  tests/price-oracle-redstone.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for price-oracle-redstone.test
  tests/price-oracle-redstone.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: update inline comments for price-oracle-redstone.test
  tests/price-oracle-redstone.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for strategy-velar-lp
  contracts/strategy-velar-lp.clar
Due: clarinet check

docs: update inline comments for strategy-velar-lp
  contracts/strategy-velar-lp.clar
Due: clarinet check

refactor: standardize exports and formatting for strategy-velar-lp
  contracts/strategy-velar-lp.clar
Due: clarinet check

refactor: standardize exports and formatting for proposal-executor.test
  tests/proposal-executor.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: add technical documentation for proposal-executor.test
  tests/proposal-executor.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for proposal-executor.test
  tests/proposal-executor.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for errorTypes
  src/utils/errorTypes.js
Due: eslint --fix, prettier --write

docs: add technical documentation for errorTypes
  src/utils/errorTypes.js
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for errorTypes
  src/utils/errorTypes.js
Due: eslint --fix, prettier --write

feat: implement logic for whitelist-manager.test
  tests/whitelist-manager.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: clarify logic in whitelist-manager.test
  tests/whitelist-manager.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for whitelist-manager.test
  tests/whitelist-manager.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for reownAppKit
  src/utils/reownAppKit.js
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for reownAppKit
  src/utils/reownAppKit.js
Due: eslint --fix, prettier --write

docs: update inline comments for reownAppKit
  src/utils/reownAppKit.js
Due: eslint --fix, prettier --write

feat: implement logic for integration.test
  tests/integration.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: clarify logic in vault-rewards.test
  tests/vault-rewards.test.ts
Due: eslint --fix, prettier --write, npm test --
