Repository teefeh-07/LoopChat: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, clarinet check, npm test --

docs: clarify logic in liquidation-engine.test
  tests/liquidation-engine.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for liquidation-engine.test
  tests/liquidation-engine.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for strategy-velar-lp
  contracts/strategy-velar-lp.clar
Due: clarinet check

refactor: standardize exports and formatting for strategy-velar-lp
  contracts/strategy-velar-lp.clar
Due: clarinet check

docs: add technical documentation for strategy-velar-lp
  contracts/strategy-velar-lp.clar
Due: clarinet check

feat: implement logic for alex-connector.test
  tests/alex-connector.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: clarify logic in alex-connector.test
  tests/alex-connector.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for alex-connector.test
  tests/alex-connector.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for strategy-delta-neutral
  contracts/strategy-delta-neutral.clar
Due: clarinet check

docs: clarify logic in strategy-delta-neutral
  contracts/strategy-delta-neutral.clar
Due: clarinet check

refactor: standardize exports and formatting for strategy-delta-neutral
  contracts/strategy-delta-neutral.clar
Due: clarinet check

feat: implement logic for encoding-utils
  contracts/encoding-utils.clar
Due: clarinet check

docs: add technical documentation for encoding-utils
  contracts/encoding-utils.clar
Due: clarinet check

refactor: standardize exports and formatting for encoding-utils
  contracts/encoding-utils.clar
Due: clarinet check

docs: clarify logic in errorMessages
  src/utils/errorMessages.js
Due: eslint --fix, prettier --write

feat: implement logic for errorMessages
  src/utils/errorMessages.js
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for errorMessages
  src/utils/errorMessages.js
Due: eslint --fix, prettier --write

feat: implement logic for strategy-hedging
  contracts/strategy-hedging.clar
Due: clarinet check

docs: add technical documentation for strategy-hedging
  contracts/strategy-hedging.clar
Due: clarinet check

refactor: standardize exports and formatting for strategy-hedging
  contracts/strategy-hedging.clar
Due: clarinet check

feat: implement logic for risk-parameters
  contracts/risk-parameters.clar
Due: clarinet check

refactor: standardize exports and formatting for risk-parameters
  contracts/risk-parameters.clar
Due: clarinet check

docs: clarify logic in risk-parameters
  contracts/risk-parameters.clar
Due: clarinet check

feat: implement logic for strategy-options-selling.test
  tests/strategy-options-selling.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for strategy-options-selling.test
  tests/strategy-options-selling.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: clarify logic in strategy-options-selling.test
  tests/strategy-options-selling.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for proposal-executor.test
  tests/proposal-executor.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: clarify logic in proposal-executor.test
  tests/proposal-executor.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for proposal-executor.test
  tests/proposal-executor.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for credit-scoring
  contracts/credit-scoring.clar
Due: clarinet check

docs: update inline comments for credit-scoring
  contracts/credit-scoring.clar
Due: clarinet check

refactor: standardize exports and formatting for credit-scoring
  contracts/credit-scoring.clar
Due: clarinet check

refactor: standardize exports and formatting for multi-sig.test
  tests/multi-sig.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: update inline comments for multi-sig.test
  tests/multi-sig.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for volatility-tracker.test
  tests/volatility-tracker.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: clarify logic in volatility-tracker.test
  tests/volatility-tracker.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for volatility-tracker.test
  tests/volatility-tracker.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for math-library.test
  tests/math-library.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: clarify logic in math-library.test
  tests/math-library.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for math-library.test
  tests/math-library.test.ts
Due: eslint --fix, prettier --write, npm test --

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})
  clarinet check: any of: *.clar
  npm test --: any of: tests/**/*.test.ts
