Repository teefeh-07/LoopChat: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, clarinet check, npm test --

docs: update inline comments for liquidity-aggregator.test
  tests/liquidity-aggregator.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for liquidity-aggregator.test
  tests/liquidity-aggregator.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for liquidity-aggregator.test
  tests/liquidity-aggregator.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for routes
  src/types/routes.ts
Due: eslint --fix, prettier --write

docs: update inline comments for routes
  src/types/routes.ts
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for routes
  src/types/routes.ts
Due: eslint --fix, prettier --write

feat: implement logic for wrapped-token-manager
  contracts/wrapped-token-manager.clar
Due: clarinet check

docs: update inline comments for wrapped-token-manager
  contracts/wrapped-token-manager.clar
Due: clarinet check

refactor: standardize exports and formatting for wrapped-token-manager
  contracts/wrapped-token-manager.clar
Due: clarinet check

feat: implement logic for performance-tracker.test
  tests/performance-tracker.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: add technical documentation for performance-tracker.test
  tests/performance-tracker.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for performance-tracker.test
  tests/performance-tracker.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: clarify logic in strategy-leveraged-yield.test
  tests/strategy-leveraged-yield.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for strategy-leveraged-yield.test
  tests/strategy-leveraged-yield.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for strategy-leveraged-yield.test
  tests/strategy-leveraged-yield.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: add technical documentation for stacks-client
  src/lib/stacks-client.ts
Due: eslint --fix, prettier --write

feat: implement logic for stacks-client
  src/lib/stacks-client.ts
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for stacks-client
  src/lib/stacks-client.ts
Due: eslint --fix, prettier --write

feat: implement logic for user-registry
  contracts/user-registry.clar
Due: clarinet check

docs: add technical documentation for user-registry
  contracts/user-registry.clar
Due: clarinet check

refactor: standardize exports and formatting for user-registry
  contracts/user-registry.clar
Due: clarinet check

docs: clarify logic in DashboardPage
  src/pages/DashboardPage.tsx
Due: eslint --fix, prettier --write

feat: implement logic for DashboardPage
  src/pages/DashboardPage.tsx
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for DashboardPage
  src/pages/DashboardPage.tsx
Due: eslint --fix, prettier --write

feat: implement logic for WalletSwitcher
  src/components/WalletConnect/WalletSwitcher.tsx
Due: eslint --fix, prettier --write

docs: add technical documentation for WalletSwitcher
  src/components/WalletConnect/WalletSwitcher.tsx
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for WalletSwitcher
  src/components/WalletConnect/WalletSwitcher.tsx
Due: eslint --fix, prettier --write

feat: implement logic for networkRecovery
  src/utils/networkRecovery.js
Due: eslint --fix, prettier --write

docs: add technical documentation for networkRecovery
  src/utils/networkRecovery.js
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for networkRecovery
  src/utils/networkRecovery.js
Due: eslint --fix, prettier --write

feat: implement logic for RiskMetrics
  src/components/Portfolio/RiskMetrics.tsx
Due: eslint --fix, prettier --write

docs: clarify logic in RiskMetrics
  src/components/Portfolio/RiskMetrics.tsx
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for RiskMetrics
  src/components/Portfolio/RiskMetrics.tsx
Due: eslint --fix, prettier --write

feat: implement logic for test-token-a.test
  tests/test-token-a.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: add technical documentation for test-token-a.test
  tests/test-token-a.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for test-token-a.test
  tests/test-token-a.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for strategy-flash-loans.test
  tests/strategy-flash-loans.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: update inline comments for strategy-flash-loans.test
  tests/strategy-flash-loans.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for strategy-flash-loans.test
  tests/strategy-flash-loans.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for collateral-manager.test
  tests/collateral-manager.test.ts
Due: eslint --fix, prettier --write, npm test --

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})
  clarinet check: any of: *.clar
  npm test --: any of: tests/**/*.test.ts
