Repository teefeh-07/LoopChat: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, clarinet check, npm test --

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "*.clar": [
    "clarinet check"
  ],
  "tests/**/*.test.ts": [
    "npm test --"
  ]
}

docs: add technical documentation for serviceWorkerRegistration
  src/utils/serviceWorkerRegistration.ts
Due: eslint --fix, prettier --write

feat: implement logic for strategy-options-selling
  contracts/strategy-options-selling.clar
Due: clarinet check

refactor: standardize exports and formatting for strategy-options-selling
  contracts/strategy-options-selling.clar
Due: clarinet check

docs: add technical documentation for strategy-options-selling
  contracts/strategy-options-selling.clar
Due: clarinet check

refactor: standardize exports and formatting for mock-token.test
  tests/mock-token.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for mock-token.test
  tests/mock-token.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: add technical documentation for mock-token.test
  tests/mock-token.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: add technical documentation for array-utils.test
  tests/array-utils.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for array-utils.test
  tests/array-utils.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for array-utils.test
  tests/array-utils.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for array-utils
  contracts/array-utils.clar
Due: clarinet check

refactor: standardize exports and formatting for array-utils
  contracts/array-utils.clar
Due: clarinet check

docs: update inline comments for array-utils
  contracts/array-utils.clar
Due: clarinet check

docs: update inline comments for errorHandler
  src/utils/errorHandler.js
Due: eslint --fix, prettier --write

feat: implement logic for errorHandler
  src/utils/errorHandler.js
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for errorHandler
  src/utils/errorHandler.js
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for vault-staking
  contracts/vault-staking.clar
Due: clarinet check

feat: implement logic for vault-staking
  contracts/vault-staking.clar
Due: clarinet check

docs: update inline comments for vault-staking
  contracts/vault-staking.clar
Due: clarinet check

feat: implement logic for App
  src/App.tsx
Due: eslint --fix, prettier --write

docs: add technical documentation for App
  src/App.tsx
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for App
  src/App.tsx
Due: eslint --fix, prettier --write

feat: implement logic for price-oracle-redstone
  contracts/price-oracle-redstone.clar
Due: clarinet check

docs: add technical documentation for price-oracle-redstone
  contracts/price-oracle-redstone.clar
Due: clarinet check

refactor: standardize exports and formatting for price-oracle-redstone
  contracts/price-oracle-redstone.clar
Due: clarinet check

feat: implement logic for strategy-leveraged-yield
  contracts/strategy-leveraged-yield.clar
Due: clarinet check

refactor: standardize exports and formatting for strategy-leveraged-yield
  contracts/strategy-leveraged-yield.clar
Due: clarinet check

docs: update inline comments for strategy-leveraged-yield
  contracts/strategy-leveraged-yield.clar
Due: clarinet check

feat: implement logic for encoding-utils.test
  tests/encoding-utils.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: clarify logic in encoding-utils.test
  tests/encoding-utils.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for encoding-utils.test
  tests/encoding-utils.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for math-library.test
  tests/math-library.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: add technical documentation for math-library.test
  tests/math-library.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for math-library.test
  tests/math-library.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for WalletButton
  src/components/WalletConnect/WalletButton.tsx
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for WalletButton
  src/components/WalletConnect/WalletButton.tsx
Due: eslint --fix, prettier --write

docs: clarify logic in WalletButton
  src/components/WalletConnect/WalletButton.tsx
Due: eslint --fix, prettier --write

feat: implement logic for liquidation-engine.test
  tests/liquidation-engine.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: add technical documentation for liquidation-engine.test
  tests/liquidation-engine.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for liquidation-engine.test
  tests/liquidation-engine.test.ts
Due: eslint --fix, prettier --write, npm test --
