Repository teefeh-07/LoopChat: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, clarinet check, npm test --

docs: add technical documentation for PortfolioOverview
  src/components/Portfolio/PortfolioOverview.tsx
Due: eslint --fix, prettier --write

feat: implement logic for voting-escrow.test
  src/components/Portfolio/PortfolioOverview.tsx
  tests/voting-escrow.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: update inline comments for voting-escrow.test
  tests/voting-escrow.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: clarify logic in strategy-arkadiko-stake
  contracts/strategy-arkadiko-stake.clar
Due: clarinet check

refactor: standardize exports and formatting for voting-escrow.test
  contracts/strategy-arkadiko-stake.clar
  tests/voting-escrow.test.ts
Due: eslint --fix, prettier --write, clarinet check, npm test --

feat: implement logic for strategy-alex-pool.test
  tests/strategy-alex-pool.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for strategy-arkadiko-stake
  contracts/strategy-arkadiko-stake.clar
Due: clarinet check

feat: implement logic for analytics-tracker
  contracts/analytics-tracker.clar
  tests/strategy-alex-pool.test.ts
Due: eslint --fix, prettier --write, clarinet check, npm test --

docs: update inline comments for analytics-tracker
  contracts/analytics-tracker.clar
Due: clarinet check

feat: implement logic for wrapped-token-manager
  contracts/wrapped-token-manager.clar
Due: clarinet check

refactor: standardize exports and formatting for analytics-tracker
  contracts/analytics-tracker.clar
Due: clarinet check

docs: clarify logic in wrapped-token-manager
  contracts/wrapped-token-manager.clar
Due: clarinet check

feat: implement logic for WalletButton
  contracts/wrapped-token-manager.clar
Due: clarinet check

refactor: standardize exports and formatting for WalletButton
  src/components/WalletConnect/WalletButton.tsx
Due: eslint --fix, prettier --write

docs: clarify logic in WalletButton
  src/components/WalletConnect/WalletButton.tsx
Due: eslint --fix, prettier --write

docs: add technical documentation for strategy-leveraged-yield
  contracts/strategy-leveraged-yield.clar
Due: clarinet check

feat: implement logic for time-utils
  contracts/time-utils.clar
Due: clarinet check

docs: clarify logic in time-utils
  contracts/time-utils.clar
  src/services/wallets/WalletManager.ts
Due: eslint --fix, prettier --write, clarinet check

docs: update inline comments for WalletManager
  contracts/time-utils.clar
Due: clarinet check

refactor: standardize exports and formatting for WalletManager
  src/services/wallets/WalletManager.ts
Due: eslint --fix, prettier --write

feat: implement logic for vault-registry.test
  tests/vault-registry.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for vault-registry.test
  src/types/wallet.ts
  tests/vault-registry.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for wallet
  tests/vault-registry.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for wallet
  src/types/wallet.ts
Due: eslint --fix, prettier --write

feat: implement logic for strategy-velar-lp.test
  src/services/wallets/LedgerAdapter.ts
  src/types/wallet.ts
  tests/strategy-velar-lp.test.ts
  tests/vault-registry.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for LedgerAdapter
  src/services/wallets/LedgerAdapter.ts
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for strategy-velar-lp.test
  tests/strategy-velar-lp.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for strategy-yield-farming
  contracts/strategy-yield-farming.clar
Due: clarinet check

docs: clarify logic in strategy-yield-farming
  contracts/strategy-yield-farming.clar
  src/services/wallets/LedgerAdapter.ts
  src/types/wallet.ts
  tests/strategy-velar-lp.test.ts
  tests/vault-registry.test.ts
Due: eslint --fix, prettier --write, clarinet check, npm test --

refactor: standardize exports and formatting for strategy-yield-farming
  contracts/strategy-yield-farming.clar
  tests/permission-manager.test.ts
Due: eslint --fix, prettier --write, clarinet check, npm test --

feat: implement logic for MobileModal
  src/components/MobileModal.tsx
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for permission-manager.test
  tests/permission-manager.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: add technical documentation for MobileModal
  src/components/MobileModal.tsx
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for MobileModal
  src/components/MobileModal.tsx
Due: eslint --fix, prettier --write

feat: implement logic for strategy-arkadiko-stake.test
  tests/strategy-arkadiko-stake.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for TransactionHistory
  src/components/Portfolio/TransactionHistory.tsx
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for strategy-arkadiko-stake.test
  tests/strategy-arkadiko-stake.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for TransactionHistory
  src/components/Portfolio/TransactionHistory.tsx
Due: eslint --fix, prettier --write

feat: implement logic for strategy-liquidity-mining
  contracts/strategy-liquidity-mining.clar
Due: clarinet check

docs: add technical documentation for strategy-flash-loans.test
  tests/strategy-flash-loans.test.ts
Due: eslint --fix, prettier --write, npm test --

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})
  clarinet check: any of: *.clar
  npm test --: any of: tests/**/*.test.ts
