Repository teefeh-07/LoopChat: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, clarinet check, npm test --

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "*.clar": [
    "clarinet check"
  ],
  "tests/**/*.test.ts": [
    "npm test --"
  ]
}

docs: clarify logic in gas-optimization.test
  tests/gas-optimization.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for performance-tracker.test
  tests/performance-tracker.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: update inline comments for performance-tracker.test
  tests/performance-tracker.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for performance-tracker.test
  tests/performance-tracker.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for access-control
  contracts/access-control.clar
Due: clarinet check

docs: clarify logic in access-control
  contracts/access-control.clar
Due: clarinet check

refactor: standardize exports and formatting for access-control
  contracts/access-control.clar
Due: clarinet check

feat: implement logic for walletDetection
  src/utils/walletDetection.ts
Due: eslint --fix, prettier --write

docs: update inline comments for walletDetection
  src/utils/walletDetection.ts
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for walletDetection
  src/utils/walletDetection.ts
Due: eslint --fix, prettier --write

docs: add technical documentation for vault-fee-collector.test
  tests/vault-fee-collector.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for vault-fee-collector.test
  tests/vault-fee-collector.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for vault-fee-collector.test
  tests/vault-fee-collector.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: add technical documentation for analytics-tracker.test
  tests/analytics-tracker.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for analytics-tracker.test
  tests/analytics-tracker.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for analytics-tracker.test
  tests/analytics-tracker.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: update inline comments for governance-treasury.test
  tests/governance-treasury.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for governance-treasury.test
  tests/governance-treasury.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for governance-treasury.test
  tests/governance-treasury.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: add technical documentation for signature-verifier
  contracts/signature-verifier.clar
Due: clarinet check

feat: implement logic for signature-verifier
  contracts/signature-verifier.clar
Due: clarinet check

refactor: standardize exports and formatting for signature-verifier
  contracts/signature-verifier.clar
Due: clarinet check

feat: implement logic for strategy-borrowing
  contracts/strategy-borrowing.clar
Due: clarinet check

docs: add technical documentation for strategy-borrowing
  contracts/strategy-borrowing.clar
Due: clarinet check

refactor: standardize exports and formatting for strategy-borrowing
  contracts/strategy-borrowing.clar
Due: clarinet check

docs: clarify logic in arkadiko-connector.test
  tests/arkadiko-connector.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for arkadiko-connector.test
  tests/arkadiko-connector.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for arkadiko-connector.test
  tests/arkadiko-connector.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for kyc-registry.test
  tests/kyc-registry.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: clarify logic in kyc-registry.test
  tests/kyc-registry.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for kyc-registry.test
  tests/kyc-registry.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for ProfitLossAnalytics
  src/components/Portfolio/ProfitLossAnalytics.tsx
Due: eslint --fix, prettier --write

docs: clarify logic in ProfitLossAnalytics
  src/components/Portfolio/ProfitLossAnalytics.tsx
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for ProfitLossAnalytics
  src/components/Portfolio/ProfitLossAnalytics.tsx
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for collateral-manager
  contracts/collateral-manager.clar
Due: clarinet check

feat: implement logic for collateral-manager
  contracts/collateral-manager.clar
Due: clarinet check

docs: clarify logic in collateral-manager
  contracts/collateral-manager.clar
Due: clarinet check

feat: implement logic for vite.config.frontend
  vite.config.frontend.js
Due: eslint --fix, prettier --write

docs: add technical documentation for vite.config.frontend
  vite.config.frontend.js
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for vite.config.frontend
  vite.config.frontend.js
Due: eslint --fix, prettier --write
