Repository teefeh-07/LoopChat: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, clarinet check, npm test --

refactor: standardize exports and formatting for gas-optimization.test
  tests/gas-optimization.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for event-emitter
  contracts/event-emitter.clar
Due: clarinet check

refactor: standardize exports and formatting for event-emitter
  contracts/event-emitter.clar
Due: clarinet check

docs: add technical documentation for event-emitter
  contracts/event-emitter.clar
Due: clarinet check

feat: implement logic for PortfolioDashboard
  src/components/Portfolio/PortfolioDashboard.tsx
Due: eslint --fix, prettier --write

docs: add technical documentation for PortfolioDashboard
  src/components/Portfolio/PortfolioDashboard.tsx
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for PortfolioDashboard
  src/components/Portfolio/PortfolioDashboard.tsx
Due: eslint --fix, prettier --write

feat: implement logic for vault-treasury
  contracts/vault-treasury.clar
Due: clarinet check

docs: add technical documentation for vault-treasury
  contracts/vault-treasury.clar
Due: clarinet check

refactor: standardize exports and formatting for vault-treasury
  contracts/vault-treasury.clar
Due: clarinet check

feat: implement logic for vitest.config
  vitest.config.js
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for vitest.config
  vitest.config.js
Due: eslint --fix, prettier --write

docs: add technical documentation for vitest.config
  vitest.config.js
Due: eslint --fix, prettier --write

feat: implement logic for kyc-registry.test
  tests/kyc-registry.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: add technical documentation for kyc-registry.test
  tests/kyc-registry.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for kyc-registry.test
  tests/kyc-registry.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for vault-insurance.test
  tests/vault-insurance.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: clarify logic in vault-insurance.test
  tests/vault-insurance.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for vault-insurance.test
  tests/vault-insurance.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for strategy-alex-pool.test
  tests/strategy-alex-pool.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for strategy-alex-pool.test
  tests/strategy-alex-pool.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: add technical documentation for strategy-alex-pool.test
  tests/strategy-alex-pool.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for strategy-hedging
  contracts/strategy-hedging.clar
Due: clarinet check

docs: update inline comments for strategy-hedging
  contracts/strategy-hedging.clar
Due: clarinet check

feat: implement logic for strategy-hedging
  contracts/strategy-hedging.clar
Due: clarinet check

refactor: standardize exports and formatting for PortfolioOverview
  src/components/Portfolio/PortfolioOverview.tsx
Due: eslint --fix, prettier --write

feat: implement logic for PortfolioOverview
  src/components/Portfolio/PortfolioOverview.tsx
Due: eslint --fix, prettier --write

docs: update inline comments for PortfolioOverview
  src/components/Portfolio/PortfolioOverview.tsx
Due: eslint --fix, prettier --write

feat: implement logic for strategy-yield-farming.test
  tests/strategy-yield-farming.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: clarify logic in strategy-yield-farming.test
  tests/strategy-yield-farming.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for strategy-yield-farming.test
  tests/strategy-yield-farming.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for strategy-vault.test
  tests/strategy-vault.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: add technical documentation for strategy-vault.test
  tests/strategy-vault.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for strategy-vault.test
  tests/strategy-vault.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: clarify logic in liquidation-engine
  contracts/liquidation-engine.clar
Due: clarinet check

feat: implement logic for liquidation-engine
  contracts/liquidation-engine.clar
Due: clarinet check

refactor: standardize exports and formatting for liquidation-engine
  contracts/liquidation-engine.clar
Due: clarinet check

feat: implement logic for vault-registry.test
  tests/vault-registry.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: update inline comments for vault-registry.test
  tests/vault-registry.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for vault-registry.test
  tests/vault-registry.test.ts
Due: eslint --fix, prettier --write, npm test --

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})
  clarinet check: any of: *.clar
  npm test --: any of: tests/**/*.test.ts
