Repository teefeh-07/LoopChat: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, clarinet check, npm test --

feat: implement logic for validation
  src/utils/validation.js
Due: eslint --fix, prettier --write

docs: update inline comments for SkeletonLoader
  src/components/SkeletonLoader.tsx
Due: eslint --fix, prettier --write

feat: implement logic for SkeletonLoader
  src/components/SkeletonLoader.tsx
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for SkeletonLoader
  src/components/SkeletonLoader.tsx
Due: eslint --fix, prettier --write

feat: implement logic for strategy-hedging.test
  tests/strategy-hedging.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: clarify logic in strategy-hedging.test
  tests/strategy-hedging.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for strategy-hedging.test
  tests/strategy-hedging.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for arkadiko-connector
  contracts/arkadiko-connector.clar
Due: clarinet check

refactor: standardize exports and formatting for arkadiko-connector
  contracts/arkadiko-connector.clar
Due: clarinet check

docs: update inline comments for arkadiko-connector
  contracts/arkadiko-connector.clar
Due: clarinet check

feat: implement logic for strategy-arkadiko-stake
  contracts/strategy-arkadiko-stake.clar
Due: clarinet check

docs: add technical documentation for strategy-arkadiko-stake
  contracts/strategy-arkadiko-stake.clar
Due: clarinet check

refactor: standardize exports and formatting for strategy-arkadiko-stake
  contracts/strategy-arkadiko-stake.clar
Due: clarinet check

docs: update inline comments for deepLinking
  src/utils/deepLinking.ts
Due: eslint --fix, prettier --write

feat: implement logic for deepLinking
  src/utils/deepLinking.ts
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for deepLinking
  src/utils/deepLinking.ts
Due: eslint --fix, prettier --write

feat: implement logic for price-oracle-pyth.test
  tests/price-oracle-pyth.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: add technical documentation for price-oracle-pyth.test
  tests/price-oracle-pyth.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for price-oracle-pyth.test
  tests/price-oracle-pyth.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for velar-connector
  contracts/velar-connector.clar
Due: clarinet check

refactor: standardize exports and formatting for velar-connector
  contracts/velar-connector.clar
Due: clarinet check

docs: clarify logic in velar-connector
  contracts/velar-connector.clar
Due: clarinet check

docs: clarify logic in mock-token
  contracts/mock-token.clar
Due: clarinet check

feat: implement logic for mock-token
  contracts/mock-token.clar
Due: clarinet check

refactor: standardize exports and formatting for mock-token
  contracts/mock-token.clar
Due: clarinet check

feat: implement logic for vitest.config.ui
  vitest.config.ui.js
Due: eslint --fix, prettier --write

docs: add technical documentation for vitest.config.ui
  vitest.config.ui.js
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for vitest.config.ui
  vitest.config.ui.js
Due: eslint --fix, prettier --write

feat: implement logic for useChainhookEvents
  src/hooks/useChainhookEvents.js
Due: eslint --fix, prettier --write

docs: update inline comments for useChainhookEvents
  src/hooks/useChainhookEvents.js
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for useChainhookEvents
  src/hooks/useChainhookEvents.js
Due: eslint --fix, prettier --write

feat: implement logic for time-utils.test
  tests/time-utils.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: add technical documentation for time-utils.test
  tests/time-utils.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for time-utils.test
  tests/time-utils.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for test-token-b
  contracts/test-token-b.clar
Due: clarinet check

docs: clarify logic in test-token-b
  contracts/test-token-b.clar
Due: clarinet check

refactor: standardize exports and formatting for test-token-b
  contracts/test-token-b.clar
Due: clarinet check

feat: implement logic for liquidation-bot
  contracts/liquidation-bot.clar
Due: clarinet check

docs: add technical documentation for liquidation-bot
  contracts/liquidation-bot.clar
Due: clarinet check

refactor: standardize exports and formatting for liquidation-bot
  contracts/liquidation-bot.clar
Due: clarinet check

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})
  clarinet check: any of: *.clar
  npm test --: any of: tests/**/*.test.ts
