Repository teefeh-07/LoopChat: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, clarinet check, npm test --

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "*.clar": [
    "clarinet check"
  ],
  "tests/**/*.test.ts": [
    "npm test --"
  ]
}

feat: implement logic for strategy-delta-neutral.test
  tests/strategy-delta-neutral.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for strategy-delta-neutral.test
  tests/strategy-delta-neutral.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for ChainhookService
  src/services/ChainhookService.ts
Due: eslint --fix, prettier --write

docs: clarify logic in ChainhookService
  src/services/ChainhookService.ts
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for ChainhookService
  src/services/ChainhookService.ts
Due: eslint --fix, prettier --write

feat: implement logic for deepLinking
  src/utils/deepLinking.ts
Due: eslint --fix, prettier --write

docs: add technical documentation for deepLinking
  src/utils/deepLinking.ts
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for deepLinking
  src/utils/deepLinking.ts
Due: eslint --fix, prettier --write

docs: add technical documentation for sw
  public/sw.js
Due: eslint --fix, prettier --write

feat: implement logic for sw
  public/sw.js
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for sw
  public/sw.js
Due: eslint --fix, prettier --write

feat: implement logic for string-utils
  contracts/string-utils.clar
Due: clarinet check

docs: add technical documentation for string-utils
  contracts/string-utils.clar
Due: clarinet check

refactor: standardize exports and formatting for string-utils
  contracts/string-utils.clar
Due: clarinet check

feat: implement logic for test-token-a
  contracts/test-token-a.clar
Due: clarinet check

docs: clarify logic in test-token-a
  contracts/test-token-a.clar
Due: clarinet check

refactor: standardize exports and formatting for test-token-a
  contracts/test-token-a.clar
Due: clarinet check

feat: implement logic for liquidity-aggregator.test
  tests/liquidity-aggregator.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: clarify logic in liquidity-aggregator.test
  tests/liquidity-aggregator.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for liquidity-aggregator.test
  tests/liquidity-aggregator.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for strategy-liquidity-mining.test
  tests/strategy-liquidity-mining.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: update inline comments for strategy-liquidity-mining.test
  tests/strategy-liquidity-mining.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for strategy-liquidity-mining.test
  tests/strategy-liquidity-mining.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for wrapped-token-manager
  contracts/wrapped-token-manager.clar
Due: clarinet check

docs: update inline comments for wrapped-token-manager
  contracts/wrapped-token-manager.clar
Due: clarinet check

refactor: standardize exports and formatting for wrapped-token-manager
  contracts/wrapped-token-manager.clar
Due: clarinet check

feat: implement logic for strategy-borrowing.test
  tests/strategy-borrowing.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: update inline comments for strategy-borrowing.test
  tests/strategy-borrowing.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for strategy-borrowing.test
  tests/strategy-borrowing.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for TransactionHistory
  src/components/Portfolio/TransactionHistory.tsx
Due: eslint --fix, prettier --write

docs: add technical documentation for TransactionHistory
  src/components/Portfolio/TransactionHistory.tsx
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for TransactionHistory
  src/components/Portfolio/TransactionHistory.tsx
Due: eslint --fix, prettier --write

feat: implement logic for liquidation-bot
  contracts/liquidation-bot.clar
Due: clarinet check

docs: clarify logic in liquidation-bot
  contracts/liquidation-bot.clar
Due: clarinet check

refactor: standardize exports and formatting for liquidation-bot
  contracts/liquidation-bot.clar
Due: clarinet check

feat: implement logic for user-registry.test
  tests/user-registry.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: add technical documentation for user-registry.test
  tests/user-registry.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for user-registry.test
  tests/user-registry.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: add technical documentation for networkRecovery
  src/utils/networkRecovery.js
Due: eslint --fix, prettier --write

feat: implement logic for networkRecovery
  src/utils/networkRecovery.js
Due: eslint --fix, prettier --write
