Repository teefeh-07/LoopChat: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, clarinet check, npm test --

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "*.clar": [
    "clarinet check"
  ],
  "tests/**/*.test.ts": [
    "npm test --"
  ]
}

docs: clarify logic in stackswap-connector.test
  tests/stackswap-connector.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for vault-rewards
  contracts/vault-rewards.clar
Due: clarinet check

docs: update inline comments for vault-rewards
  contracts/vault-rewards.clar
Due: clarinet check

refactor: standardize exports and formatting for vault-rewards
  contracts/vault-rewards.clar
Due: clarinet check

feat: implement logic for mobileUtils
  src/utils/mobileUtils.ts
Due: eslint --fix, prettier --write

docs: clarify logic in mobileUtils
  src/utils/mobileUtils.ts
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for mobileUtils
  src/utils/mobileUtils.ts
Due: eslint --fix, prettier --write

feat: implement logic for strategy-delta-neutral.test
  tests/strategy-delta-neutral.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: update inline comments for strategy-delta-neutral.test
  tests/strategy-delta-neutral.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for strategy-delta-neutral.test
  tests/strategy-delta-neutral.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for useWallet.test
  src/hooks/__tests__/useWallet.test.js
Due: eslint --fix, prettier --write

docs: add technical documentation for useWallet.test
  src/hooks/__tests__/useWallet.test.js
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for useWallet.test
  src/hooks/__tests__/useWallet.test.js
Due: eslint --fix, prettier --write

feat: implement logic for oracle-security.test
  tests/oracle-security.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: clarify logic in oracle-security.test
  tests/oracle-security.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for oracle-security.test
  tests/oracle-security.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: clarify logic in vite.config.frontend
  vite.config.frontend.js
Due: eslint --fix, prettier --write

feat: implement logic for vite.config.frontend
  vite.config.frontend.js
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for vite.config.frontend
  vite.config.frontend.js
Due: eslint --fix, prettier --write

docs: update inline comments for components
  src/types/components.ts
Due: eslint --fix, prettier --write

feat: implement logic for components
  src/types/components.ts
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for components
  src/types/components.ts
Due: eslint --fix, prettier --write

feat: implement logic for useWallet
  src/hooks/useWallet.js
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for useWallet
  src/hooks/useWallet.js
Due: eslint --fix, prettier --write

docs: update inline comments for useWallet
  src/hooks/useWallet.js
Due: eslint --fix, prettier --write

feat: implement logic for signature-verifier.test
  tests/signature-verifier.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: update inline comments for signature-verifier.test
  tests/signature-verifier.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for signature-verifier.test
  tests/signature-verifier.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for governance-treasury
  contracts/governance-treasury.clar
Due: clarinet check

docs: update inline comments for governance-treasury
  contracts/governance-treasury.clar
Due: clarinet check

refactor: standardize exports and formatting for governance-treasury
  contracts/governance-treasury.clar
Due: clarinet check

refactor: standardize exports and formatting for access-control
  contracts/access-control.clar
Due: clarinet check

feat: implement logic for access-control
  contracts/access-control.clar
Due: clarinet check

docs: add technical documentation for access-control
  contracts/access-control.clar
Due: clarinet check

feat: implement logic for strategy-vault
  contracts/strategy-vault.clar
Due: clarinet check

refactor: standardize exports and formatting for strategy-vault
  contracts/strategy-vault.clar
Due: clarinet check

docs: add technical documentation for strategy-vault
  contracts/strategy-vault.clar
Due: clarinet check

feat: implement logic for vault-integration
  src/examples/vault-integration.ts
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for vault-integration
  src/examples/vault-integration.ts
Due: eslint --fix, prettier --write

docs: update inline comments for vault-integration
  src/examples/vault-integration.ts
Due: eslint --fix, prettier --write
