Repository teefeh-07/LoopChat: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, clarinet check, npm test --

refactor: standardize exports and formatting for strategy-basis-trading.test
  tests/strategy-basis-trading.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for strategy-basis-trading.test
  tests/strategy-basis-trading.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: add technical documentation for strategy-basis-trading.test
  tests/strategy-basis-trading.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for vault-timelock
  contracts/vault-timelock.clar
Due: clarinet check

refactor: standardize exports and formatting for vault-timelock
  contracts/vault-timelock.clar
Due: clarinet check

docs: add technical documentation for vault-timelock
  contracts/vault-timelock.clar
Due: clarinet check

feat: implement logic for strategy-engine.test
  tests/strategy-engine.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: clarify logic in strategy-engine.test
  tests/strategy-engine.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for strategy-engine.test
  tests/strategy-engine.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for MobileNavigation
  src/components/MobileNavigation.tsx
Due: eslint --fix, prettier --write

docs: update inline comments for MobileNavigation
  src/components/MobileNavigation.tsx
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for MobileNavigation
  src/components/MobileNavigation.tsx
Due: eslint --fix, prettier --write

feat: implement logic for mobileUtils
  src/utils/mobileUtils.ts
Due: eslint --fix, prettier --write

docs: clarify logic in mobileUtils
  src/utils/mobileUtils.ts
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for mobileUtils
  src/utils/mobileUtils.ts
Due: eslint --fix, prettier --write

feat: implement logic for fuzzing.test
  tests/fuzzing.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: add technical documentation for fuzzing.test
  tests/fuzzing.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for fuzzing.test
  tests/fuzzing.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: update inline comments for test-helpers
  tests/test-helpers.ts
Due: eslint --fix, prettier --write

feat: implement logic for test-helpers
  tests/test-helpers.ts
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for test-helpers
  tests/test-helpers.ts
Due: eslint --fix, prettier --write

feat: implement logic for swap-router.test
  tests/swap-router.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: add technical documentation for swap-router.test
  tests/swap-router.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for swap-router.test
  tests/swap-router.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for health-factor-monitor
  contracts/health-factor-monitor.clar
Due: clarinet check

docs: clarify logic in health-factor-monitor
  contracts/health-factor-monitor.clar
Due: clarinet check

refactor: standardize exports and formatting for health-factor-monitor
  contracts/health-factor-monitor.clar
Due: clarinet check

feat: implement logic for governance-token.test
  tests/governance-token.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: clarify logic in governance-token.test
  tests/governance-token.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for governance-token.test
  tests/governance-token.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for vault-insurance.test
  tests/vault-insurance.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for vault-insurance.test
  tests/vault-insurance.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: update inline comments for vault-insurance.test
  tests/vault-insurance.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: add technical documentation for price-oracle-pyth.test
  tests/price-oracle-pyth.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for price-oracle-pyth.test
  tests/price-oracle-pyth.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for price-oracle-pyth.test
  tests/price-oracle-pyth.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: add technical documentation for test-token-b
  contracts/test-token-b.clar
Due: clarinet check

feat: implement logic for test-token-b
  contracts/test-token-b.clar
Due: clarinet check

refactor: standardize exports and formatting for test-token-b
  contracts/test-token-b.clar
Due: clarinet check

feat: implement logic for vault-staking
  contracts/vault-staking.clar
Due: clarinet check

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})
  clarinet check: any of: *.clar
  npm test --: any of: tests/**/*.test.ts
