Repository teefeh-07/LoopChat: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, clarinet check, npm test --

feat: implement logic for velar-connector.test
  tests/velar-connector.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for velar-connector.test
  tests/velar-connector.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for sw
  public/sw.js
Due: eslint --fix, prettier --write

docs: clarify logic in sw
  public/sw.js
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for sw
  public/sw.js
Due: eslint --fix, prettier --write

docs: update inline comments for price-oracle-redstone.test
  tests/price-oracle-redstone.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for price-oracle-redstone.test
  tests/price-oracle-redstone.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for price-oracle-redstone.test
  tests/price-oracle-redstone.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for health-factor-monitor
  contracts/health-factor-monitor.clar
Due: clarinet check

refactor: standardize exports and formatting for health-factor-monitor
  contracts/health-factor-monitor.clar
Due: clarinet check

docs: clarify logic in health-factor-monitor
  contracts/health-factor-monitor.clar
Due: clarinet check

feat: implement logic for wallet-integration.test
  src/__tests__/integration/wallet-integration.test.js
Due: eslint --fix, prettier --write

docs: update inline comments for wallet-integration.test
  src/__tests__/integration/wallet-integration.test.js
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for wallet-integration.test
  src/__tests__/integration/wallet-integration.test.js
Due: eslint --fix, prettier --write

docs: clarify logic in pwaConfig
  src/config/pwaConfig.ts
Due: eslint --fix, prettier --write

feat: implement logic for pwaConfig
  src/config/pwaConfig.ts
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for pwaConfig
  src/config/pwaConfig.ts
Due: eslint --fix, prettier --write

feat: implement logic for strategy-lending.test
  tests/strategy-lending.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: clarify logic in strategy-lending.test
  tests/strategy-lending.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for strategy-lending.test
  tests/strategy-lending.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for strategy-liquidity-mining.test
  tests/strategy-liquidity-mining.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for strategy-liquidity-mining.test
  tests/strategy-liquidity-mining.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: clarify logic in strategy-liquidity-mining.test
  tests/strategy-liquidity-mining.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for governance-token
  contracts/governance-token.clar
Due: clarinet check

docs: clarify logic in governance-token
  contracts/governance-token.clar
Due: clarinet check

refactor: standardize exports and formatting for governance-token
  contracts/governance-token.clar
Due: clarinet check

feat: implement logic for AllocationChart
  src/components/Portfolio/AllocationChart.tsx
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for AllocationChart
  src/components/Portfolio/AllocationChart.tsx
Due: eslint --fix, prettier --write

docs: clarify logic in AllocationChart
  src/components/Portfolio/AllocationChart.tsx
Due: eslint --fix, prettier --write

feat: implement logic for cross-chain-bridge.test
  tests/cross-chain-bridge.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: update inline comments for cross-chain-bridge.test
  tests/cross-chain-bridge.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for cross-chain-bridge.test
  tests/cross-chain-bridge.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for useErrorHandler
  src/hooks/useErrorHandler.js
Due: eslint --fix, prettier --write

docs: clarify logic in useErrorHandler
  src/hooks/useErrorHandler.js
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for useErrorHandler
  src/hooks/useErrorHandler.js
Due: eslint --fix, prettier --write

feat: implement logic for Landing
  src/pages/Landing.tsx
Due: eslint --fix, prettier --write

docs: update inline comments for Landing
  src/pages/Landing.tsx
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for Landing
  src/pages/Landing.tsx
Due: eslint --fix, prettier --write

docs: update inline comments for gas-optimization.test
  tests/gas-optimization.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for gas-optimization.test
  tests/gas-optimization.test.ts
Due: eslint --fix, prettier --write, npm test --

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})
  clarinet check: any of: *.clar
  npm test --: any of: tests/**/*.test.ts
