Repository teefeh-07/LoopChat: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, clarinet check, npm test --

refactor: standardize exports and formatting for strategy-arbitrage.test
  tests/strategy-arbitrage.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for vault-fee-collector
  contracts/vault-fee-collector.clar
Due: clarinet check

docs: add technical documentation for vault-fee-collector
  contracts/vault-fee-collector.clar
Due: clarinet check

feat: implement logic for vault-fee-collector
  contracts/vault-fee-collector.clar
Due: clarinet check

feat: implement logic for strategy-ststx-stake
  contracts/strategy-ststx-stake.clar
Due: clarinet check

docs: add technical documentation for strategy-ststx-stake
  contracts/strategy-ststx-stake.clar
Due: clarinet check

refactor: standardize exports and formatting for strategy-ststx-stake
  contracts/strategy-ststx-stake.clar
Due: clarinet check

docs: add technical documentation for risk-assessment.test
  tests/risk-assessment.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for risk-assessment.test
  tests/risk-assessment.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: add technical documentation for health-factor-monitor.test
  tests/health-factor-monitor.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for health-factor-monitor.test
  tests/health-factor-monitor.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: add technical documentation for strategy-engine.test
  tests/strategy-engine.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for strategy-engine.test
  tests/strategy-engine.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: add technical documentation for price-oracle-redstone.test
  tests/price-oracle-redstone.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for price-oracle-redstone.test
  tests/price-oracle-redstone.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for logger
  src/services/logger.js
Due: eslint --fix, prettier --write

docs: add technical documentation for logger
  src/services/logger.js
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for logger
  src/services/logger.js
Due: eslint --fix, prettier --write

docs: add technical documentation for oracle-security.test
  tests/oracle-security.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for oracle-security.test
  tests/oracle-security.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: add technical documentation for price-feed-aggregator
  contracts/price-feed-aggregator.clar
Due: clarinet check

refactor: standardize exports and formatting for price-feed-aggregator
  contracts/price-feed-aggregator.clar
Due: clarinet check

feat: implement logic for token-vesting.test
  tests/token-vesting.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: update inline comments for token-vesting.test
  tests/token-vesting.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for token-vesting.test
  tests/token-vesting.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for alex-connector.test
  tests/alex-connector.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for alex-connector.test
  tests/alex-connector.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: update inline comments for alex-connector.test
  tests/alex-connector.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for walletDetection
  src/utils/walletDetection.ts
Due: eslint --fix, prettier --write

docs: add technical documentation for walletDetection
  src/utils/walletDetection.ts
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for walletDetection
  src/utils/walletDetection.ts
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for security.test
  tests/security.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for security.test
  tests/security.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: clarify logic in security.test
  tests/security.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for analytics-tracker.test
  tests/analytics-tracker.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: clarify logic in analytics-tracker.test
  tests/analytics-tracker.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for analytics-tracker.test
  tests/analytics-tracker.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: update inline comments for walletConnectClient
  src/utils/walletConnectClient.js
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for walletConnectClient
  src/utils/walletConnectClient.js
Due: eslint --fix, prettier --write

feat: implement logic for walletConnectClient
  src/utils/walletConnectClient.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})
  clarinet check: any of: *.clar
  npm test --: any of: tests/**/*.test.ts
