Repository teefeh-07/LoopChat: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, clarinet check, npm test --

docs: update inline comments for WalletSwitcher
  src/components/WalletConnect/WalletSwitcher.tsx
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for WalletSwitcher
  src/components/WalletConnect/WalletSwitcher.tsx
Due: eslint --fix, prettier --write

feat: implement logic for time-utils
  contracts/time-utils.clar
Due: clarinet check

docs: update inline comments for time-utils
  contracts/time-utils.clar
Due: clarinet check

refactor: standardize exports and formatting for time-utils
  contracts/time-utils.clar
Due: clarinet check

feat: implement logic for wallet
  src/types/wallet.ts
Due: eslint --fix, prettier --write

docs: clarify logic in wallet
  src/types/wallet.ts
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for wallet
  src/types/wallet.ts
Due: eslint --fix, prettier --write

docs: clarify logic in LedgerAdapter
  src/services/wallets/LedgerAdapter.ts
Due: eslint --fix, prettier --write

feat: implement logic for LedgerAdapter
  src/services/wallets/LedgerAdapter.ts
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for LedgerAdapter
  src/services/wallets/LedgerAdapter.ts
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for LeatherAdapter
  src/services/wallets/LeatherAdapter.ts
Due: eslint --fix, prettier --write

feat: implement logic for LeatherAdapter
  src/services/wallets/LeatherAdapter.ts
Due: eslint --fix, prettier --write

docs: update inline comments for LeatherAdapter
  src/services/wallets/LeatherAdapter.ts
Due: eslint --fix, prettier --write

feat: implement logic for whitelist-manager.test
  tests/whitelist-manager.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: update inline comments for whitelist-manager.test
  tests/whitelist-manager.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for whitelist-manager.test
  tests/whitelist-manager.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for errorRecovery
  src/services/errorRecovery.js
Due: eslint --fix, prettier --write

docs: add technical documentation for errorRecovery
  src/services/errorRecovery.js
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for errorRecovery
  src/services/errorRecovery.js
Due: eslint --fix, prettier --write

docs: update inline comments for conversion-utils
  contracts/conversion-utils.clar
Due: clarinet check

feat: implement logic for conversion-utils
  contracts/conversion-utils.clar
Due: clarinet check

refactor: standardize exports and formatting for conversion-utils
  contracts/conversion-utils.clar
Due: clarinet check

feat: implement logic for stacks
  src/types/stacks.ts
Due: eslint --fix, prettier --write

docs: add technical documentation for stacks
  src/types/stacks.ts
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for stacks
  src/types/stacks.ts
Due: eslint --fix, prettier --write

feat: implement logic for strategy-alex-pool
  contracts/strategy-alex-pool.clar
Due: clarinet check

docs: update inline comments for strategy-alex-pool
  contracts/strategy-alex-pool.clar
Due: clarinet check

refactor: standardize exports and formatting for strategy-alex-pool
  contracts/strategy-alex-pool.clar
Due: clarinet check

feat: implement logic for strategy-options-selling
  contracts/strategy-options-selling.clar
Due: clarinet check

docs: update inline comments for strategy-options-selling
  contracts/strategy-options-selling.clar
Due: clarinet check

refactor: standardize exports and formatting for strategy-options-selling
  contracts/strategy-options-selling.clar
Due: clarinet check

feat: implement logic for strategy-leveraged-yield
  contracts/strategy-leveraged-yield.clar
Due: clarinet check

docs: add technical documentation for strategy-leveraged-yield
  contracts/strategy-leveraged-yield.clar
Due: clarinet check

refactor: standardize exports and formatting for strategy-leveraged-yield
  contracts/strategy-leveraged-yield.clar
Due: clarinet check

feat: implement logic for security.test
  tests/security.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: add technical documentation for security.test
  tests/security.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for security.test
  tests/security.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for integration.test
  tests/integration.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: clarify logic in integration.test
  tests/integration.test.ts
Due: eslint --fix, prettier --write, npm test --

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})
  clarinet check: any of: *.clar
  npm test --: any of: tests/**/*.test.ts
