Repository teefeh-07/LoopChat: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, clarinet check, npm test --

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "*.clar": [
    "clarinet check"
  ],
  "tests/**/*.test.ts": [
    "npm test --"
  ]
}

docs: add technical documentation for csvExport
  src/utils/csvExport.ts
  tests/liquidity-aggregator.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for liquidity-aggregator.test
  tests/liquidity-aggregator.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for DashboardPage
  src/pages/DashboardPage.tsx
  src/types/wallet.ts
Due: eslint --fix, prettier --write

docs: update inline comments for DashboardPage
  src/types/wallet.ts
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for wallet
  src/pages/DashboardPage.tsx
  src/types/wallet.ts
Due: eslint --fix, prettier --write

feat: implement logic for strategy-options-selling
  contracts/strategy-options-selling.clar
  src/services/wallets/BoomAdapter.ts
Due: eslint --fix, prettier --write, clarinet check

docs: update inline comments for strategy-options-selling
  contracts/strategy-options-selling.clar
  src/services/wallets/BoomAdapter.ts
Due: eslint --fix, prettier --write, clarinet check

refactor: standardize exports and formatting for BoomAdapter
  contracts/strategy-options-selling.clar
  src/services/wallets/BoomAdapter.ts
Due: eslint --fix, prettier --write, clarinet check

feat: implement logic for wrapped-token-manager.test
  tests/strategy-basis-trading.test.ts
  tests/wrapped-token-manager.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for strategy-basis-trading.test
  tests/strategy-basis-trading.test.ts
  tests/wrapped-token-manager.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: add technical documentation for oracle-security.test
  contracts/faucet.clar
  tests/oracle-security.test.ts
Due: eslint --fix, prettier --write, clarinet check, npm test --

feat: implement logic for oracle-security.test
  tests/oracle-security.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for faucet
  contracts/faucet.clar
Due: clarinet check

feat: implement logic for vitest.config
  tests/vitest.config.ts
Due: eslint --fix, prettier --write

docs: update inline comments for vitest.config
  tests/vitest.config.ts
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for vitest.config
  tests/vitest.config.ts
Due: eslint --fix, prettier --write

feat: implement logic for strategy-ststx-stake.test
  tests/cross-chain-bridge.test.ts
  tests/strategy-ststx-stake.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for cross-chain-bridge.test
  tests/strategy-ststx-stake.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for strategy-ststx-stake.test
  tests/strategy-ststx-stake.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for ltv-calculator.test
  tests/ltv-calculator.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for strategy-engine
  contracts/strategy-engine.clar
  tests/ltv-calculator.test.ts
Due: eslint --fix, prettier --write, clarinet check, npm test --

refactor: standardize exports and formatting for ltv-calculator.test
  contracts/strategy-engine.clar
  tests/ltv-calculator.test.ts
Due: eslint --fix, prettier --write, clarinet check, npm test --

refactor: standardize exports and formatting for strategy-engine
  contracts/strategy-engine.clar
Due: clarinet check

feat: implement logic for vitest.config
  vitest.config.js
Due: eslint --fix, prettier --write

docs: clarify logic in vitest.config
  contracts/strategy-hedging.clar
Due: clarinet check

docs: update inline comments for strategy-hedging
  contracts/strategy-hedging.clar
  vitest.config.js
Due: eslint --fix, prettier --write, clarinet check

refactor: standardize exports and formatting for strategy-hedging
  contracts/strategy-hedging.clar
Due: clarinet check

feat: implement logic for event-emitter
  contracts/event-emitter.clar
Due: clarinet check

docs: add technical documentation for event-emitter
  contracts/event-emitter.clar
Due: clarinet check

refactor: standardize exports and formatting for event-emitter
  contracts/event-emitter.clar
Due: clarinet check

feat: implement logic for performance-tracker.test
  tests/performance-tracker.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: update inline comments for performance-tracker.test
  tests/performance-tracker.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for performance-tracker.test
  tests/performance-tracker.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: add technical documentation for About
  src/components/MobileNavigation.tsx
  src/pages/About.tsx
Due: eslint --fix, prettier --write

feat: implement logic for About
  src/components/MobileNavigation.tsx
  src/pages/About.tsx
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for About
  src/pages/About.tsx
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for MobileNavigation
  src/components/MobileNavigation.tsx
Due: eslint --fix, prettier --write

feat: implement logic for velar-connector
  contracts/velar-connector.clar
Due: clarinet check

refactor: standardize exports and formatting for velar-connector
  contracts/collateral-manager.clar
  contracts/velar-connector.clar
Due: clarinet check

feat: implement logic for collateral-manager
  contracts/collateral-manager.clar
  contracts/velar-connector.clar
Due: clarinet check
