Repository teefeh-07/LoopChat: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, clarinet check, npm test --

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "*.clar": [
    "clarinet check"
  ],
  "tests/**/*.test.ts": [
    "npm test --"
  ]
}

refactor: standardize exports and formatting for strategy-borrowing
  contracts/strategy-borrowing.clar
Due: clarinet check

docs: update inline comments for strategy-borrowing
  contracts/strategy-borrowing.clar
Due: clarinet check

feat: implement logic for strategy-arbitrage
  contracts/strategy-arbitrage.clar
Due: clarinet check

docs: update inline comments for strategy-arbitrage
  contracts/strategy-arbitrage.clar
Due: clarinet check

refactor: standardize exports and formatting for strategy-arbitrage
  contracts/strategy-arbitrage.clar
Due: clarinet check

feat: implement logic for index
  src/components/Portfolio/index.ts
Due: eslint --fix, prettier --write

docs: update inline comments for index
  src/components/Portfolio/index.ts
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for index
  src/components/Portfolio/index.ts
Due: eslint --fix, prettier --write

feat: implement logic for permission-manager.test
  tests/permission-manager.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for permission-manager.test
  tests/permission-manager.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: clarify logic in permission-manager.test
  tests/permission-manager.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for health-factor-monitor.test
  tests/health-factor-monitor.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: add technical documentation for health-factor-monitor.test
  tests/health-factor-monitor.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for health-factor-monitor.test
  tests/health-factor-monitor.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: update inline comments for vault-timelock.test
  tests/vault-timelock.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for vault-timelock.test
  tests/vault-timelock.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for vault-timelock.test
  tests/vault-timelock.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for voting-escrow
  contracts/voting-escrow.clar
Due: clarinet check

docs: clarify logic in voting-escrow
  contracts/voting-escrow.clar
Due: clarinet check

refactor: standardize exports and formatting for voting-escrow
  contracts/voting-escrow.clar
Due: clarinet check

feat: implement logic for token-vesting
  contracts/token-vesting.clar
Due: clarinet check

refactor: standardize exports and formatting for token-vesting
  contracts/token-vesting.clar
Due: clarinet check

docs: clarify logic in token-vesting
  contracts/token-vesting.clar
Due: clarinet check

feat: implement logic for vault-treasury.test
  tests/vault-treasury.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: add technical documentation for vault-treasury.test
  tests/vault-treasury.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for vault-treasury.test
  tests/vault-treasury.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for vault-rewards.test
  tests/vault-rewards.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: add technical documentation for vault-rewards.test
  tests/vault-rewards.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for vault-rewards.test
  tests/vault-rewards.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for mock-dex.test
  tests/mock-dex.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: clarify logic in mock-dex.test
  tests/mock-dex.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for mock-dex.test
  tests/mock-dex.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for time-utils
  contracts/time-utils.clar
Due: clarinet check

docs: add technical documentation for time-utils
  contracts/time-utils.clar
Due: clarinet check

refactor: standardize exports and formatting for time-utils
  contracts/time-utils.clar
Due: clarinet check

feat: implement logic for vault-governance.test
  tests/vault-governance.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: add technical documentation for vault-governance.test
  tests/vault-governance.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for vault-governance.test
  tests/vault-governance.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for validation
  src/utils/validation.js
Due: eslint --fix, prettier --write

docs: update inline comments for validation
  src/utils/validation.js
Due: eslint --fix, prettier --write
