Repository teefeh-07/LoopChat: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, clarinet check, npm test --

refactor: standardize exports and formatting for analytics-tracker
  contracts/analytics-tracker.clar
Due: clarinet check

feat: implement logic for liquidation-bot.test
  tests/liquidation-bot.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: clarify logic in liquidation-bot.test
  tests/liquidation-bot.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for liquidation-bot.test
  tests/liquidation-bot.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for strategy-vault.test
  tests/strategy-vault.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for strategy-vault.test
  tests/strategy-vault.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: update inline comments for strategy-vault.test
  tests/strategy-vault.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for collateral-manager.test
  tests/collateral-manager.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: clarify logic in collateral-manager.test
  tests/collateral-manager.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for collateral-manager.test
  tests/collateral-manager.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: add technical documentation for risk-assessment.test
  tests/risk-assessment.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for risk-assessment.test
  tests/risk-assessment.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for velar-connector.test
  tests/velar-connector.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: update inline comments for velar-connector.test
  tests/velar-connector.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for velar-connector.test
  tests/velar-connector.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for errorHandler
  src/utils/errorHandler.js
Due: eslint --fix, prettier --write

docs: add technical documentation for errorHandler
  src/utils/errorHandler.js
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for errorHandler
  src/utils/errorHandler.js
Due: eslint --fix, prettier --write

feat: implement logic for performanceOptimization
  src/utils/performanceOptimization.ts
Due: eslint --fix, prettier --write

docs: update inline comments for performanceOptimization
  src/utils/performanceOptimization.ts
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for performanceOptimization
  src/utils/performanceOptimization.ts
Due: eslint --fix, prettier --write

feat: implement logic for token-emissions
  contracts/token-emissions.clar
Due: clarinet check

docs: clarify logic in token-emissions
  contracts/token-emissions.clar
Due: clarinet check

refactor: standardize exports and formatting for token-emissions
  contracts/token-emissions.clar
Due: clarinet check

feat: implement logic for liquidity-aggregator
  contracts/liquidity-aggregator.clar
Due: clarinet check

refactor: standardize exports and formatting for liquidity-aggregator
  contracts/liquidity-aggregator.clar
Due: clarinet check

docs: add technical documentation for liquidity-aggregator
  contracts/liquidity-aggregator.clar
Due: clarinet check

docs: update inline comments for WalletSelector
  src/components/WalletConnect/WalletSelector.tsx
Due: eslint --fix, prettier --write

feat: implement logic for WalletSelector
  src/components/WalletConnect/WalletSelector.tsx
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for WalletSelector
  src/components/WalletConnect/WalletSelector.tsx
Due: eslint --fix, prettier --write

feat: implement logic for reownAppKit
  src/utils/reownAppKit.js
Due: eslint --fix, prettier --write

docs: update inline comments for reownAppKit
  src/utils/reownAppKit.js
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for reownAppKit
  src/utils/reownAppKit.js
Due: eslint --fix, prettier --write

docs: add technical documentation for WalletModal
  src/components/WalletConnect/WalletModal.tsx
Due: eslint --fix, prettier --write

feat: implement logic for WalletModal
  src/components/WalletConnect/WalletModal.tsx
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for WalletModal
  src/components/WalletConnect/WalletModal.tsx
Due: eslint --fix, prettier --write

feat: implement logic for vault-timelock.test
  tests/vault-timelock.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: clarify logic in vault-timelock.test
  tests/vault-timelock.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for vault-timelock.test
  tests/vault-timelock.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: clarify logic in strategy-delta-neutral.test
  tests/strategy-delta-neutral.test.ts
Due: eslint --fix, prettier --write, npm test --

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})
  clarinet check: any of: *.clar
  npm test --: any of: tests/**/*.test.ts
