Repository teefeh-07/LoopChat: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, clarinet check, npm test --

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "*.clar": [
    "clarinet check"
  ],
  "tests/**/*.test.ts": [
    "npm test --"
  ]
}

refactor: standardize exports and formatting for vault-staking
  contracts/vault-staking.clar
Due: clarinet check

docs: add technical documentation for vault-staking
  contracts/vault-staking.clar
Due: clarinet check

feat: implement logic for HowItWorks
  src/pages/HowItWorks.tsx
Due: eslint --fix, prettier --write

docs: add technical documentation for HowItWorks
  src/pages/HowItWorks.tsx
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for HowItWorks
  src/pages/HowItWorks.tsx
Due: eslint --fix, prettier --write

feat: implement logic for WalletButton
  src/components/WalletConnect/WalletButton.tsx
Due: eslint --fix, prettier --write

docs: clarify logic in WalletButton
  src/components/WalletConnect/WalletButton.tsx
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for WalletButton
  src/components/WalletConnect/WalletButton.tsx
Due: eslint --fix, prettier --write

feat: implement logic for user-registry
  contracts/user-registry.clar
Due: clarinet check

docs: add technical documentation for user-registry
  contracts/user-registry.clar
Due: clarinet check

refactor: standardize exports and formatting for user-registry
  contracts/user-registry.clar
Due: clarinet check

feat: implement logic for cross-chain-bridge.test
  tests/cross-chain-bridge.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: add technical documentation for cross-chain-bridge.test
  tests/cross-chain-bridge.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for cross-chain-bridge.test
  tests/cross-chain-bridge.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for encoding-utils.test
  tests/encoding-utils.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: clarify logic in encoding-utils.test
  tests/encoding-utils.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for encoding-utils.test
  tests/encoding-utils.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for metrics-aggregator.test
  tests/metrics-aggregator.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: update inline comments for metrics-aggregator.test
  tests/metrics-aggregator.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for metrics-aggregator.test
  tests/metrics-aggregator.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for vitest.config.ui
  vitest.config.ui.js
Due: eslint --fix, prettier --write

docs: clarify logic in vitest.config.ui
  vitest.config.ui.js
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for vitest.config.ui
  vitest.config.ui.js
Due: eslint --fix, prettier --write

feat: implement logic for strategy-velar-lp.test
  tests/strategy-velar-lp.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for strategy-velar-lp.test
  tests/strategy-velar-lp.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: clarify logic in strategy-velar-lp.test
  tests/strategy-velar-lp.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: update inline comments for time-utils.test
  tests/time-utils.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for time-utils.test
  tests/time-utils.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for time-utils.test
  tests/time-utils.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for vault-rewards
  contracts/vault-rewards.clar
Due: clarinet check

docs: update inline comments for vault-rewards
  contracts/vault-rewards.clar
Due: clarinet check

refactor: standardize exports and formatting for vault-rewards
  contracts/vault-rewards.clar
Due: clarinet check

docs: update inline comments for array-utils.test
  tests/array-utils.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for array-utils.test
  tests/array-utils.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for array-utils.test
  tests/array-utils.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: add technical documentation for strategy-vault
  contracts/strategy-vault.clar
Due: clarinet check

feat: implement logic for strategy-vault
  contracts/strategy-vault.clar
Due: clarinet check

refactor: standardize exports and formatting for strategy-vault
  contracts/strategy-vault.clar
Due: clarinet check

docs: clarify logic in useWallet.test
  src/hooks/__tests__/useWallet.test.js
Due: eslint --fix, prettier --write

feat: implement logic for useWallet.test
  src/hooks/__tests__/useWallet.test.js
Due: eslint --fix, prettier --write
