Repository teefeh-07/LoopChat: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, clarinet check, npm test --

refactor: standardize exports and formatting for collateral-manager
  contracts/collateral-manager.clar
Due: clarinet check

feat: implement logic for access-control
  contracts/access-control.clar
Due: clarinet check

feat: implement logic for test-token-b
  contracts/access-control.clar
  contracts/test-token-b.clar
Due: clarinet check

refactor: standardize exports and formatting for access-control
  contracts/access-control.clar
  contracts/test-token-b.clar
Due: clarinet check

refactor: standardize exports and formatting for test-token-b
  contracts/test-token-b.clar
Due: clarinet check

feat: implement logic for property-based.test
  tests/property-based.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for SkeletonLoader
  src/components/SkeletonLoader.tsx
  tests/property-based.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for property-based.test
  src/components/SkeletonLoader.tsx
  tests/property-based.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for SkeletonLoader
  src/components/SkeletonLoader.tsx
Due: eslint --fix, prettier --write

feat: implement logic for WalletButton
  src/components/WalletConnect/WalletButton.tsx
  tests/strategy-alex-pool.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for strategy-alex-pool.test
  tests/strategy-alex-pool.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for strategy-alex-pool.test
  src/components/WalletConnect/WalletButton.tsx
  tests/strategy-alex-pool.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for WalletButton
  src/components/WalletConnect/WalletButton.tsx
Due: eslint --fix, prettier --write

feat: implement logic for setup
  src/__tests__/setup.js
Due: eslint --fix, prettier --write

docs: add technical documentation for setup
  src/__tests__/setup.js
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for setup
  src/__tests__/setup.js
Due: eslint --fix, prettier --write

feat: implement logic for test-helpers
  tests/test-helpers.ts
Due: eslint --fix, prettier --write

docs: add technical documentation for test-helpers
  contracts/test-token-a.clar
  tests/test-helpers.ts
Due: eslint --fix, prettier --write, clarinet check

docs: update inline comments for test-token-a
  contracts/test-token-a.clar
  tests/test-helpers.ts
Due: eslint --fix, prettier --write, clarinet check

refactor: standardize exports and formatting for test-token-a
  contracts/test-token-a.clar
Due: clarinet check

feat: implement logic for kyc-registry.test
  tests/kyc-registry.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for token-vesting
  contracts/token-vesting.clar
Due: clarinet check

docs: clarify logic in kyc-registry.test
  tests/kyc-registry.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for kyc-registry.test
  tests/kyc-registry.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for token-vesting
  contracts/token-vesting.clar
Due: clarinet check

docs: clarify logic in vitest.config.ui
  contracts/strategy-velar-lp.clar
  vitest.config.ui.js
Due: eslint --fix, prettier --write, clarinet check

feat: implement logic for vitest.config.ui
  vitest.config.ui.js
Due: eslint --fix, prettier --write

feat: implement logic for strategy-velar-lp
  vitest.config.ui.js
Due: eslint --fix, prettier --write

docs: clarify logic in strategy-velar-lp
  contracts/strategy-velar-lp.clar
Due: clarinet check

refactor: standardize exports and formatting for strategy-velar-lp
  contracts/strategy-velar-lp.clar
Due: clarinet check

feat: implement logic for access-control.test
  tests/access-control.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: add technical documentation for access-control.test
  tests/access-control.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for access-control.test
  contracts/price-oracle-redstone.clar
  tests/access-control.test.ts
Due: eslint --fix, prettier --write, clarinet check, npm test --

refactor: standardize exports and formatting for price-oracle-redstone
  contracts/price-oracle-redstone.clar
Due: clarinet check

feat: implement logic for test-token-b
  contracts/test-token-b.clar
Due: clarinet check

docs: clarify logic in test-token-b
  contracts/test-token-b.clar
Due: clarinet check

refactor: standardize exports and formatting for liquidation-bot
  contracts/governance-token.clar
  contracts/liquidation-bot.clar
Due: clarinet check

feat: implement logic for governance-token
  contracts/governance-token.clar
  contracts/liquidation-bot.clar
Due: clarinet check

refactor: standardize exports and formatting for governance-token
  contracts/governance-token.clar
Due: clarinet check

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})
  clarinet check: any of: *.clar
  npm test --: any of: tests/**/*.test.ts
