Repository teefeh-07/LoopChat: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, clarinet check, npm test --

refactor: standardize exports and formatting for portfolio
  src/types/portfolio.ts
Due: eslint --fix, prettier --write

docs: add technical documentation for mock-oracle.test
  tests/mock-oracle.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for mock-oracle.test
  tests/mock-oracle.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: add technical documentation for mock-dex
  contracts/mock-dex.clar
Due: clarinet check

feat: implement logic for mock-dex
  contracts/mock-dex.clar
Due: clarinet check

refactor: standardize exports and formatting for mock-dex
  contracts/mock-dex.clar
Due: clarinet check

feat: implement logic for portfolioService
  src/services/portfolioService.ts
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for portfolioService
  src/services/portfolioService.ts
Due: eslint --fix, prettier --write

docs: add technical documentation for portfolioService
  src/services/portfolioService.ts
Due: eslint --fix, prettier --write

feat: implement logic for vault-timelock
  contracts/vault-timelock.clar
Due: clarinet check

docs: add technical documentation for vault-timelock
  contracts/vault-timelock.clar
Due: clarinet check

refactor: standardize exports and formatting for vault-timelock
  contracts/vault-timelock.clar
Due: clarinet check

feat: implement logic for useWalletConnection
  src/hooks/useWalletConnection.ts
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for useWalletConnection
  src/hooks/useWalletConnection.ts
Due: eslint --fix, prettier --write

docs: add technical documentation for useWalletConnection
  src/hooks/useWalletConnection.ts
Due: eslint --fix, prettier --write

docs: add technical documentation for volatility-tracker.test
  tests/volatility-tracker.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for volatility-tracker.test
  tests/volatility-tracker.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: add technical documentation for WalletManager
  src/services/wallets/WalletManager.ts
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for WalletManager
  src/services/wallets/WalletManager.ts
Due: eslint --fix, prettier --write

feat: implement logic for vault-governance
  contracts/vault-governance.clar
Due: clarinet check

docs: add technical documentation for vault-governance
  contracts/vault-governance.clar
Due: clarinet check

refactor: standardize exports and formatting for vault-governance
  contracts/vault-governance.clar
Due: clarinet check

feat: implement logic for touchGestures
  src/utils/touchGestures.ts
Due: eslint --fix, prettier --write

docs: add technical documentation for touchGestures
  src/utils/touchGestures.ts
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for touchGestures
  src/utils/touchGestures.ts
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for credit-scoring.test
  tests/credit-scoring.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: add technical documentation for credit-scoring.test
  tests/credit-scoring.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for indexedDB
  src/utils/indexedDB.ts
Due: eslint --fix, prettier --write

docs: add technical documentation for indexedDB
  src/utils/indexedDB.ts
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for indexedDB
  src/utils/indexedDB.ts
Due: eslint --fix, prettier --write

docs: add technical documentation for strategy-borrowing.test
  tests/strategy-borrowing.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for strategy-borrowing.test
  tests/strategy-borrowing.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for mock-oracle
  contracts/mock-oracle.clar
Due: clarinet check

docs: add technical documentation for mock-oracle
  contracts/mock-oracle.clar
Due: clarinet check

refactor: standardize exports and formatting for mock-oracle
  contracts/mock-oracle.clar
Due: clarinet check

feat: implement logic for stacks
  src/types/stacks.ts
Due: eslint --fix, prettier --write

docs: add technical documentation for stacks
  src/types/stacks.ts
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for stacks
  src/types/stacks.ts
Due: eslint --fix, prettier --write

docs: add technical documentation for health-factor-monitor
  contracts/health-factor-monitor.clar
Due: clarinet check

refactor: standardize exports and formatting for health-factor-monitor
  contracts/health-factor-monitor.clar
Due: clarinet check

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})
  clarinet check: any of: *.clar
  npm test --: any of: tests/**/*.test.ts
