Repository teefeh-07/LoopChat: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, clarinet check, npm test --

refactor: standardize exports and formatting for user-registry.test
  tests/user-registry.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for LedgerAdapter
  src/services/wallets/LedgerAdapter.ts
Due: eslint --fix, prettier --write

docs: clarify logic in LedgerAdapter
  src/services/wallets/LedgerAdapter.ts
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for LedgerAdapter
  src/services/wallets/LedgerAdapter.ts
Due: eslint --fix, prettier --write

feat: implement logic for WalletConnectAdapter
  src/services/wallets/WalletConnectAdapter.ts
Due: eslint --fix, prettier --write

docs: update inline comments for WalletConnectAdapter
  src/services/wallets/WalletConnectAdapter.ts
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for WalletConnectAdapter
  src/services/wallets/WalletConnectAdapter.ts
Due: eslint --fix, prettier --write

docs: update inline comments for WalletModal
  src/components/WalletConnect/WalletModal.tsx
Due: eslint --fix, prettier --write

feat: implement logic for WalletModal
  src/components/WalletConnect/WalletModal.tsx
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for WalletModal
  src/components/WalletConnect/WalletModal.tsx
Due: eslint --fix, prettier --write

feat: implement logic for property-based.test
  tests/property-based.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: add technical documentation for property-based.test
  tests/property-based.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for property-based.test
  tests/property-based.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for StrategyDashboard
  src/components/StrategyDashboard.tsx
Due: eslint --fix, prettier --write

docs: clarify logic in StrategyDashboard
  src/components/StrategyDashboard.tsx
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for StrategyDashboard
  src/components/StrategyDashboard.tsx
Due: eslint --fix, prettier --write

feat: implement logic for security.test
  tests/security.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for security.test
  tests/security.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: update inline comments for strategy-yield-farming
  contracts/strategy-yield-farming.clar
Due: clarinet check

refactor: standardize exports and formatting for strategy-yield-farming
  contracts/strategy-yield-farming.clar
Due: clarinet check

feat: implement logic for governance-treasury
  contracts/governance-treasury.clar
  src/components/InstallPrompt.tsx
  src/services/wallets/LeatherAdapter.ts
Due: eslint --fix, prettier --write, clarinet check

feat: implement logic for HowItWorks
  src/pages/HowItWorks.tsx
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for HowItWorks
  src/pages/HowItWorks.tsx
Due: eslint --fix, prettier --write

feat: implement logic for routes
  src/types/routes.ts
Due: eslint --fix, prettier --write

docs: update inline comments for routes
  src/types/routes.ts
Due: eslint --fix, prettier --write

docs: update inline comments for liquidation-bot
  contracts/liquidation-bot.clar
Due: clarinet check

refactor: standardize exports and formatting for liquidation-bot
  contracts/liquidation-bot.clar
Due: clarinet check

refactor: standardize exports and formatting for multi-sig
  contracts/multi-sig.clar
Due: clarinet check

chore: save working state before branch cleanup
  contracts/token-distribution.clar
  scripts/auto_commit_strategy_local.cjs
  scripts/merge_all.cjs
  src/App.css
  src/App.tsx
  src/components/ErrorBoundary.jsx
  src/components/ErrorBoundary/DataFetchErrorBoundary.jsx
  src/components/ErrorBoundary/ErrorFallback.jsx
  src/components/ErrorBoundary/RootErrorBoundary.jsx
  src/components/ErrorBoundary/RouteErrorBoundary.jsx
  src/components/ErrorBoundary/TransactionErrorBoundary.jsx
  src/components/ErrorBoundary/WalletErrorBoundary.jsx
  src/components/InstallPrompt.tsx
  src/components/Loading.jsx
  src/components/Navigation.css
  src/components/StrategyDashboard.tsx
  src/components/Toast.jsx
  src/index.css
  src/pages/About.css
  src/pages/DashboardPage.css
  src/pages/HowItWorks.css
  src/pages/Landing.css
  src/styles/error.css
  src/styles/errorBoundary.css
  src/styles/mobile.css
  src/styles/portfolio.css
  src/styles/responsive.css
  src/styles/wallet-switcher.css
  tests/mock-oracle.test.ts
Due: eslint --fix, prettier --write, clarinet check, npm test --

docs: update inline comments for useErrorHandler
  contracts/token-distribution.clar
  scripts/auto_commit_strategy_local.cjs
  scripts/merge_all.cjs
  src/App.css
  src/App.tsx
  src/components/ErrorBoundary.jsx
  src/components/ErrorBoundary/DataFetchErrorBoundary.jsx
  src/components/ErrorBoundary/ErrorFallback.jsx
  src/components/ErrorBoundary/RootErrorBoundary.jsx
  src/components/ErrorBoundary/RouteErrorBoundary.jsx
  src/components/ErrorBoundary/TransactionErrorBoundary.jsx
  src/components/ErrorBoundary/WalletErrorBoundary.jsx
  src/components/Loading.jsx
  src/components/Navigation.css
  src/components/StrategyDashboard.tsx
  src/components/Toast.jsx
  src/hooks/useErrorHandler.js
  src/index.css
  src/pages/About.css
  src/pages/DashboardPage.css
  src/pages/HowItWorks.css
  src/pages/Landing.css
  src/styles/error.css
  src/styles/errorBoundary.css
  src/styles/mobile.css
  src/styles/portfolio.css
  src/styles/responsive.css
  src/styles/wallet-switcher.css
  tests/mock-oracle.test.ts
Due: eslint --fix, prettier --write, clarinet check, npm test --

feat: implement logic for useErrorHandler
  contracts/token-distribution.clar
  scripts/auto_commit_strategy_local.cjs
  scripts/merge_all.cjs
  src/App.css
  src/App.tsx
  src/components/ErrorBoundary.jsx
  src/components/ErrorBoundary/DataFetchErrorBoundary.jsx
  src/components/ErrorBoundary/ErrorFallback.jsx
  src/components/ErrorBoundary/RootErrorBoundary.jsx
  src/components/ErrorBoundary/RouteErrorBoundary.jsx
  src/components/ErrorBoundary/TransactionErrorBoundary.jsx
  src/components/ErrorBoundary/WalletErrorBoundary.jsx
  src/components/Loading.jsx
  src/components/Navigation.css
  src/components/StrategyDashboard.tsx
  src/components/Toast.jsx
  src/hooks/useErrorHandler.js
  src/index.css
  src/pages/About.css
  src/pages/DashboardPage.css
  src/pages/HowItWorks.css
  src/pages/Landing.css
  src/styles/error.css
  src/styles/errorBoundary.css
  src/styles/mobile.css
  src/styles/portfolio.css
  src/styles/responsive.css
  src/styles/wallet-switcher.css
  tests/mock-oracle.test.ts
Due: eslint --fix, prettier --write, clarinet check, npm test --

docs: clarify logic in walletConnectClient
  src/utils/walletConnectClient.js
Due: eslint --fix, prettier --write

docs: add technical documentation for strategy-borrowing
  contracts/strategy-borrowing.clar
Due: clarinet check

feat: implement logic for deepLinking
  contracts/strategy-borrowing.clar
  src/utils/deepLinking.ts
Due: eslint --fix, prettier --write, clarinet check

docs: add technical documentation for deepLinking
  contracts/strategy-borrowing.clar
  src/utils/deepLinking.ts
Due: eslint --fix, prettier --write, clarinet check

refactor: standardize exports and formatting for deepLinking
  src/utils/deepLinking.ts
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for signature-verifier.test
  tests/signature-verifier.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for token-vesting.test
  tests/token-vesting.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for token-vesting.test
  tests/token-vesting.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for vault-insurance.test
  tests/vault-insurance.test.ts
Due: eslint --fix, prettier --write, npm test --

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})
  clarinet check: any of: *.clar
  npm test --: any of: tests/**/*.test.ts
