Repository teefeh-07/LoopChat: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, clarinet check, npm test --

docs: add technical documentation for gracefulDegradation
  src/utils/gracefulDegradation.js
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for gracefulDegradation
  src/utils/gracefulDegradation.js
Due: eslint --fix, prettier --write

feat: implement logic for health-factor-monitor.test
  tests/health-factor-monitor.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: add technical documentation for health-factor-monitor.test
  tests/health-factor-monitor.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for health-factor-monitor.test
  tests/health-factor-monitor.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for About
  src/pages/About.tsx
Due: eslint --fix, prettier --write

docs: add technical documentation for About
  src/pages/About.tsx
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for About
  src/pages/About.tsx
Due: eslint --fix, prettier --write

feat: implement logic for wallet.test
  src/utils/__tests__/wallet.test.js
Due: eslint --fix, prettier --write

docs: clarify logic in wallet.test
  src/utils/__tests__/wallet.test.js
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for wallet.test
  src/utils/__tests__/wallet.test.js
Due: eslint --fix, prettier --write

feat: implement logic for vault-treasury
  contracts/vault-treasury.clar
Due: clarinet check

docs: clarify logic in vault-treasury
  contracts/vault-treasury.clar
Due: clarinet check

refactor: standardize exports and formatting for vault-treasury
  contracts/vault-treasury.clar
Due: clarinet check

feat: implement logic for ltv-calculator.test
  tests/ltv-calculator.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: clarify logic in ltv-calculator.test
  tests/ltv-calculator.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for ltv-calculator.test
  tests/ltv-calculator.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for Navigation
  src/components/Navigation.tsx
Due: eslint --fix, prettier --write

docs: add technical documentation for Navigation
  src/components/Navigation.tsx
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for Navigation
  src/components/Navigation.tsx
Due: eslint --fix, prettier --write

feat: implement logic for strategy-engine
  contracts/strategy-engine.clar
Due: clarinet check

docs: add technical documentation for strategy-engine
  contracts/strategy-engine.clar
Due: clarinet check

refactor: standardize exports and formatting for strategy-engine
  contracts/strategy-engine.clar
Due: clarinet check

feat: implement logic for strategy-leveraged-yield.test
  tests/strategy-leveraged-yield.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: update inline comments for strategy-leveraged-yield.test
  tests/strategy-leveraged-yield.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for strategy-leveraged-yield.test
  tests/strategy-leveraged-yield.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for PerformanceChart
  src/components/Portfolio/PerformanceChart.tsx
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for PerformanceChart
  src/components/Portfolio/PerformanceChart.tsx
Due: eslint --fix, prettier --write

docs: clarify logic in PerformanceChart
  src/components/Portfolio/PerformanceChart.tsx
Due: eslint --fix, prettier --write

feat: implement logic for useErrorHandler
  src/hooks/useErrorHandler.js
Due: eslint --fix, prettier --write

docs: add technical documentation for useErrorHandler
  src/hooks/useErrorHandler.js
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for useErrorHandler
  src/hooks/useErrorHandler.js
Due: eslint --fix, prettier --write

feat: implement logic for cross-chain-bridge
  contracts/cross-chain-bridge.clar
Due: clarinet check

docs: add technical documentation for cross-chain-bridge
  contracts/cross-chain-bridge.clar
Due: clarinet check

refactor: standardize exports and formatting for cross-chain-bridge
  contracts/cross-chain-bridge.clar
Due: clarinet check

docs: clarify logic in strategy-liquidity-mining
  contracts/strategy-liquidity-mining.clar
Due: clarinet check

refactor: standardize exports and formatting for strategy-liquidity-mining
  contracts/strategy-liquidity-mining.clar
Due: clarinet check

feat: implement logic for SkeletonLoader
  src/components/SkeletonLoader.tsx
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for SkeletonLoader
  src/components/SkeletonLoader.tsx
Due: eslint --fix, prettier --write

docs: update inline comments for SkeletonLoader
  src/components/SkeletonLoader.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})
  clarinet check: any of: *.clar
  npm test --: any of: tests/**/*.test.ts
