Repository teefeh-07/LoopChat: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, clarinet check, npm test --

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "*.clar": [
    "clarinet check"
  ],
  "tests/**/*.test.ts": [
    "npm test --"
  ]
}

docs: add technical documentation for encoding-utils
  contracts/encoding-utils.clar
Due: clarinet check

feat: implement logic for encoding-utils
  contracts/encoding-utils.clar
Due: clarinet check

refactor: standardize exports and formatting for encoding-utils
  contracts/encoding-utils.clar
Due: clarinet check

docs: add technical documentation for strategy-basis-trading.test
  tests/strategy-basis-trading.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for strategy-basis-trading.test
  tests/strategy-basis-trading.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for alex-connector
  contracts/alex-connector.clar
Due: clarinet check

feat: implement logic for alex-connector
  contracts/alex-connector.clar
Due: clarinet check

docs: add technical documentation for alex-connector
  contracts/alex-connector.clar
Due: clarinet check

feat: implement logic for errorMessages
  src/utils/errorMessages.js
Due: eslint --fix, prettier --write

docs: add technical documentation for errorMessages
  src/utils/errorMessages.js
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for errorMessages
  src/utils/errorMessages.js
Due: eslint --fix, prettier --write

docs: add technical documentation for faucet.test
  tests/faucet.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for faucet.test
  tests/faucet.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: add technical documentation for fee-tracker.test
  tests/fee-tracker.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for fee-tracker.test
  tests/fee-tracker.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for conversion-utils
  contracts/conversion-utils.clar
Due: clarinet check

docs: add technical documentation for conversion-utils
  contracts/conversion-utils.clar
Due: clarinet check

refactor: standardize exports and formatting for conversion-utils
  contracts/conversion-utils.clar
Due: clarinet check

feat: implement logic for stackswap-connector
  contracts/stackswap-connector.clar
Due: clarinet check

docs: add technical documentation for stackswap-connector
  contracts/stackswap-connector.clar
Due: clarinet check

refactor: standardize exports and formatting for stackswap-connector
  contracts/stackswap-connector.clar
Due: clarinet check

feat: implement logic for gracefulDegradation
  src/utils/gracefulDegradation.js
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for gracefulDegradation
  src/utils/gracefulDegradation.js
Due: eslint --fix, prettier --write

docs: add technical documentation for gracefulDegradation
  src/utils/gracefulDegradation.js
Due: eslint --fix, prettier --write

docs: add technical documentation for vault-fee-collector.test
  tests/vault-fee-collector.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for vault-fee-collector.test
  tests/vault-fee-collector.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: add technical documentation for index
  server/index.js
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for index
  server/index.js
Due: eslint --fix, prettier --write

docs: add technical documentation for mock-oracle.test
  tests/mock-oracle.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for mock-oracle.test
  tests/mock-oracle.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for reporting-engine
  contracts/reporting-engine.clar
Due: clarinet check

docs: add technical documentation for reporting-engine
  contracts/reporting-engine.clar
Due: clarinet check

refactor: standardize exports and formatting for reporting-engine
  contracts/reporting-engine.clar
Due: clarinet check

feat: implement logic for errorLogger
  src/services/errorLogger.js
Due: eslint --fix, prettier --write

docs: add technical documentation for errorLogger
  src/services/errorLogger.js
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for errorLogger
  src/services/errorLogger.js
Due: eslint --fix, prettier --write

feat: implement logic for portfolio
  src/types/portfolio.ts
Due: eslint --fix, prettier --write

docs: add technical documentation for portfolio
  src/types/portfolio.ts
Due: eslint --fix, prettier --write
