Repository teefeh-07/LoopChat: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, clarinet check, npm test --

feat: implement logic for strategy-arbitrage
  contracts/strategy-arbitrage.clar
Due: clarinet check

docs: clarify logic in strategy-arbitrage
  contracts/strategy-arbitrage.clar
Due: clarinet check

refactor: standardize exports and formatting for strategy-arbitrage
  contracts/strategy-arbitrage.clar
Due: clarinet check

feat: implement logic for components
  src/types/components.ts
Due: eslint --fix, prettier --write

docs: add technical documentation for components
  src/types/components.ts
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for components
  src/types/components.ts
Due: eslint --fix, prettier --write

feat: implement logic for liquidation-engine
  contracts/liquidation-engine.clar
Due: clarinet check

docs: clarify logic in liquidation-engine
  contracts/liquidation-engine.clar
Due: clarinet check

refactor: standardize exports and formatting for liquidation-engine
  contracts/liquidation-engine.clar
Due: clarinet check

refactor: standardize exports and formatting for WalletManager
  src/services/wallets/WalletManager.ts
Due: eslint --fix, prettier --write

docs: add technical documentation for WalletManager
  src/services/wallets/WalletManager.ts
Due: eslint --fix, prettier --write

feat: implement logic for WalletManager
  src/services/wallets/WalletManager.ts
Due: eslint --fix, prettier --write

docs: add technical documentation for multi-sig
  contracts/multi-sig.clar
Due: clarinet check

feat: implement logic for multi-sig
  contracts/multi-sig.clar
Due: clarinet check

refactor: standardize exports and formatting for multi-sig
  contracts/multi-sig.clar
Due: clarinet check

feat: implement logic for PortfolioDashboard
  src/components/Portfolio/PortfolioDashboard.tsx
Due: eslint --fix, prettier --write

docs: update inline comments for PortfolioDashboard
  src/components/Portfolio/PortfolioDashboard.tsx
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for PortfolioDashboard
  src/components/Portfolio/PortfolioDashboard.tsx
Due: eslint --fix, prettier --write

feat: implement logic for StrategyDashboard
  src/components/StrategyDashboard.tsx
Due: eslint --fix, prettier --write

docs: update inline comments for StrategyDashboard
  src/components/StrategyDashboard.tsx
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for StrategyDashboard
  src/components/StrategyDashboard.tsx
Due: eslint --fix, prettier --write

feat: implement logic for useWallet
  src/hooks/useWallet.js
Due: eslint --fix, prettier --write

docs: clarify logic in useWallet
  src/hooks/useWallet.js
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for useWallet
  src/hooks/useWallet.js
Due: eslint --fix, prettier --write

feat: implement logic for WalletAdapter
  src/services/wallets/WalletAdapter.ts
Due: eslint --fix, prettier --write

docs: clarify logic in WalletAdapter
  src/services/wallets/WalletAdapter.ts
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for WalletAdapter
  src/services/wallets/WalletAdapter.ts
Due: eslint --fix, prettier --write

feat: implement logic for performanceMonitor
  src/utils/performanceMonitor.js
Due: eslint --fix, prettier --write

docs: update inline comments for performanceMonitor
  src/utils/performanceMonitor.js
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for performanceMonitor
  src/utils/performanceMonitor.js
Due: eslint --fix, prettier --write

feat: implement logic for permission-manager.test
  tests/permission-manager.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: update inline comments for permission-manager.test
  tests/permission-manager.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for permission-manager.test
  tests/permission-manager.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for vault-governance.test
  tests/vault-governance.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: add technical documentation for vault-governance.test
  tests/vault-governance.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for vault-governance.test
  tests/vault-governance.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for mock-dex
  contracts/mock-dex.clar
Due: clarinet check

docs: clarify logic in mock-dex
  contracts/mock-dex.clar
Due: clarinet check

refactor: standardize exports and formatting for mock-dex
  contracts/mock-dex.clar
Due: clarinet check

docs: clarify logic in analytics-tracker
  contracts/analytics-tracker.clar
Due: clarinet check

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})
  clarinet check: any of: *.clar
  npm test --: any of: tests/**/*.test.ts
