Repository teefeh-07/LoopChat: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, clarinet check, npm test --

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "*.clar": [
    "clarinet check"
  ],
  "tests/**/*.test.ts": [
    "npm test --"
  ]
}

refactor: standardize exports and formatting for useWallet.test
  src/hooks/__tests__/useWallet.test.js
Due: eslint --fix, prettier --write

feat: implement logic for price-feed-aggregator.test
  tests/price-feed-aggregator.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: add technical documentation for price-feed-aggregator.test
  tests/price-feed-aggregator.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for price-feed-aggregator.test
  tests/price-feed-aggregator.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for vault-factory.test
  tests/vault-factory.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: add technical documentation for vault-factory.test
  tests/vault-factory.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for vault-factory.test
  tests/vault-factory.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for mock-oracle.test
  tests/mock-oracle.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: add technical documentation for mock-oracle.test
  tests/mock-oracle.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for mock-oracle.test
  tests/mock-oracle.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for vitest.config
  vitest.config.js
Due: eslint --fix, prettier --write

docs: add technical documentation for vitest.config
  vitest.config.js
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for vitest.config
  vitest.config.js
Due: eslint --fix, prettier --write

feat: implement logic for token-vesting.test
  tests/token-vesting.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: add technical documentation for token-vesting.test
  tests/token-vesting.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for token-vesting.test
  tests/token-vesting.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for fee-tracker.test
  tests/fee-tracker.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: clarify logic in fee-tracker.test
  tests/fee-tracker.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for fee-tracker.test
  tests/fee-tracker.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: add technical documentation for validation-utils.test
  tests/validation-utils.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for validation-utils.test
  tests/validation-utils.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for validation-utils.test
  tests/validation-utils.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for WalletConnect
  src/components/WalletConnect.tsx
Due: eslint --fix, prettier --write

docs: add technical documentation for WalletConnect
  src/components/WalletConnect.tsx
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for WalletConnect
  src/components/WalletConnect.tsx
Due: eslint --fix, prettier --write

feat: implement logic for risk-assessment
  contracts/risk-assessment.clar
Due: clarinet check

docs: update inline comments for risk-assessment
  contracts/risk-assessment.clar
Due: clarinet check

refactor: standardize exports and formatting for risk-assessment
  contracts/risk-assessment.clar
Due: clarinet check

feat: implement logic for useChainhookEvents
  src/hooks/useChainhookEvents.js
Due: eslint --fix, prettier --write

docs: add technical documentation for useChainhookEvents
  src/hooks/useChainhookEvents.js
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for useChainhookEvents
  src/hooks/useChainhookEvents.js
Due: eslint --fix, prettier --write

feat: implement logic for vault-emergency.test
  tests/vault-emergency.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: clarify logic in vault-emergency.test
  tests/vault-emergency.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for vault-emergency.test
  tests/vault-emergency.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for reporting-engine.test
  tests/reporting-engine.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: add technical documentation for reporting-engine.test
  tests/reporting-engine.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for reporting-engine.test
  tests/reporting-engine.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for governance-token
  contracts/governance-token.clar
Due: clarinet check

docs: clarify logic in governance-token
  contracts/governance-token.clar
Due: clarinet check

refactor: standardize exports and formatting for governance-token
  contracts/governance-token.clar
Due: clarinet check
