Repository teefeh-07/LoopChat: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, clarinet check, npm test --

feat: implement logic for RealtimeActivityFeed
  src/components/RealtimeActivityFeed.tsx
Due: eslint --fix, prettier --write

docs: add technical documentation for RealtimeActivityFeed
  src/components/RealtimeActivityFeed.tsx
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for RealtimeActivityFeed
  src/components/RealtimeActivityFeed.tsx
Due: eslint --fix, prettier --write

feat: implement logic for WalletAdapter
  src/services/wallets/WalletAdapter.ts
Due: eslint --fix, prettier --write

docs: add technical documentation for WalletAdapter
  src/services/wallets/WalletAdapter.ts
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for WalletAdapter
  src/services/wallets/WalletAdapter.ts
Due: eslint --fix, prettier --write

feat: implement logic for math-library
  contracts/math-library.clar
Due: clarinet check

docs: add technical documentation for math-library
  contracts/math-library.clar
Due: clarinet check

refactor: standardize exports and formatting for math-library
  contracts/math-library.clar
Due: clarinet check

feat: implement logic for string-utils
  contracts/string-utils.clar
Due: clarinet check

refactor: standardize exports and formatting for string-utils
  contracts/string-utils.clar
Due: clarinet check

docs: add technical documentation for string-utils
  contracts/string-utils.clar
Due: clarinet check

feat: implement logic for strategy-basis-trading
  contracts/strategy-basis-trading.clar
Due: clarinet check

docs: add technical documentation for strategy-basis-trading
  contracts/strategy-basis-trading.clar
Due: clarinet check

refactor: standardize exports and formatting for strategy-basis-trading
  contracts/strategy-basis-trading.clar
Due: clarinet check

docs: add technical documentation for strategy-delta-neutral.test
  tests/strategy-delta-neutral.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for strategy-delta-neutral.test
  tests/strategy-delta-neutral.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for portfolioCache
  src/utils/portfolioCache.ts
Due: eslint --fix, prettier --write

docs: add technical documentation for portfolioCache
  src/utils/portfolioCache.ts
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for portfolioCache
  src/utils/portfolioCache.ts
Due: eslint --fix, prettier --write

docs: add technical documentation for token-vesting.test
  tests/token-vesting.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for token-vesting.test
  tests/token-vesting.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: add technical documentation for mock-dex.test
  tests/mock-dex.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for mock-dex.test
  tests/mock-dex.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for XverseAdapter
  src/services/wallets/XverseAdapter.ts
Due: eslint --fix, prettier --write

docs: add technical documentation for XverseAdapter
  src/services/wallets/XverseAdapter.ts
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for XverseAdapter
  src/services/wallets/XverseAdapter.ts
Due: eslint --fix, prettier --write

feat: implement logic for vault-registry
  contracts/vault-registry.clar
Due: clarinet check

docs: add technical documentation for vault-registry
  contracts/vault-registry.clar
Due: clarinet check

refactor: standardize exports and formatting for vault-registry
  contracts/vault-registry.clar
Due: clarinet check

refactor: standardize exports and formatting for test-helpers.test
  tests/test-helpers.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: add technical documentation for test-helpers.test
  tests/test-helpers.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: add technical documentation for vault-factory.test
  tests/vault-factory.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for vault-factory.test
  tests/vault-factory.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for whitelist-manager
  contracts/whitelist-manager.clar
Due: clarinet check

docs: add technical documentation for whitelist-manager
  contracts/whitelist-manager.clar
Due: clarinet check

refactor: standardize exports and formatting for whitelist-manager
  contracts/whitelist-manager.clar
Due: clarinet check

docs: add technical documentation for strategy-yield-farming.test
  tests/strategy-yield-farming.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for strategy-yield-farming.test
  tests/strategy-yield-farming.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: add technical documentation for strategy-arbitrage.test
  tests/strategy-arbitrage.test.ts
Due: eslint --fix, prettier --write, npm test --

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})
  clarinet check: any of: *.clar
  npm test --: any of: tests/**/*.test.ts
