Repository teefeh-07/LoopChat: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, clarinet check, npm test --

feat: implement logic for MobileModal
  src/components/MobileModal.tsx
Due: eslint --fix, prettier --write

docs: add technical documentation for MobileModal
  src/components/MobileModal.tsx
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for MobileModal
  src/components/MobileModal.tsx
Due: eslint --fix, prettier --write

feat: implement logic for strategy-basis-trading.test
  tests/strategy-basis-trading.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: update inline comments for strategy-basis-trading.test
  tests/strategy-basis-trading.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for strategy-basis-trading.test
  tests/strategy-basis-trading.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for risk-parameters.test
  tests/risk-parameters.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: clarify logic in risk-parameters.test
  tests/risk-parameters.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for risk-parameters.test
  tests/risk-parameters.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: clarify logic in WalletManager
  src/services/wallets/WalletManager.ts
Due: eslint --fix, prettier --write

feat: implement logic for WalletManager
  src/services/wallets/WalletManager.ts
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for WalletManager
  src/services/wallets/WalletManager.ts
Due: eslint --fix, prettier --write

feat: implement logic for strategy-engine.test
  tests/strategy-engine.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: clarify logic in strategy-engine.test
  tests/strategy-engine.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for strategy-engine.test
  tests/strategy-engine.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for strategy-liquidity-mining
  contracts/strategy-liquidity-mining.clar
Due: clarinet check

feat: implement logic for strategy-liquidity-mining
  contracts/strategy-liquidity-mining.clar
Due: clarinet check

docs: update inline comments for strategy-liquidity-mining
  contracts/strategy-liquidity-mining.clar
Due: clarinet check

docs: clarify logic in csvExport
  src/utils/csvExport.ts
Due: eslint --fix, prettier --write

feat: implement logic for csvExport
  src/utils/csvExport.ts
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for csvExport
  src/utils/csvExport.ts
Due: eslint --fix, prettier --write

docs: add technical documentation for liquidity-aggregator
  contracts/liquidity-aggregator.clar
Due: clarinet check

feat: implement logic for liquidity-aggregator
  contracts/liquidity-aggregator.clar
Due: clarinet check

refactor: standardize exports and formatting for liquidity-aggregator
  contracts/liquidity-aggregator.clar
Due: clarinet check

feat: implement logic for metrics-aggregator.test
  tests/metrics-aggregator.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: clarify logic in metrics-aggregator.test
  tests/metrics-aggregator.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for metrics-aggregator.test
  tests/metrics-aggregator.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: clarify logic in usePWA
  src/hooks/usePWA.ts
Due: eslint --fix, prettier --write

feat: implement logic for usePWA
  src/hooks/usePWA.ts
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for usePWA
  src/hooks/usePWA.ts
Due: eslint --fix, prettier --write

feat: implement logic for strategy-arkadiko-stake.test
  tests/strategy-arkadiko-stake.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: add technical documentation for strategy-arkadiko-stake.test
  tests/strategy-arkadiko-stake.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for strategy-arkadiko-stake.test
  tests/strategy-arkadiko-stake.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for WalletSelector
  src/components/WalletConnect/WalletSelector.tsx
Due: eslint --fix, prettier --write

docs: clarify logic in WalletSelector
  src/components/WalletConnect/WalletSelector.tsx
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for WalletSelector
  src/components/WalletConnect/WalletSelector.tsx
Due: eslint --fix, prettier --write

feat: implement logic for strategy-arbitrage.test
  tests/strategy-arbitrage.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: add technical documentation for strategy-arbitrage.test
  tests/strategy-arbitrage.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for strategy-arbitrage.test
  tests/strategy-arbitrage.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for test-helpers.test
  tests/test-helpers.test.ts
Due: eslint --fix, prettier --write, npm test --

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})
  clarinet check: any of: *.clar
  npm test --: any of: tests/**/*.test.ts
