Repository teefeh-07/LoopChat: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, clarinet check, npm test --

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "*.clar": [
    "clarinet check"
  ],
  "tests/**/*.test.ts": [
    "npm test --"
  ]
}

refactor: standardize exports and formatting for integration.test
  tests/integration.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for price-oracle-redstone.test
  tests/price-oracle-redstone.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: update inline comments for price-oracle-redstone.test
  tests/price-oracle-redstone.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for price-oracle-redstone.test
  tests/price-oracle-redstone.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: clarify logic in vault-integration
  src/examples/vault-integration.ts
Due: eslint --fix, prettier --write

feat: implement logic for vault-integration
  src/examples/vault-integration.ts
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for vault-integration
  src/examples/vault-integration.ts
Due: eslint --fix, prettier --write

feat: implement logic for vitest.config
  tests/vitest.config.ts
Due: eslint --fix, prettier --write

docs: add technical documentation for vitest.config
  tests/vitest.config.ts
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for vitest.config
  tests/vitest.config.ts
Due: eslint --fix, prettier --write

feat: implement logic for wrapped-token-manager.test
  tests/wrapped-token-manager.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: add technical documentation for wrapped-token-manager.test
  tests/wrapped-token-manager.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for wrapped-token-manager.test
  tests/wrapped-token-manager.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for metrics-aggregator
  contracts/metrics-aggregator.clar
Due: clarinet check

docs: clarify logic in metrics-aggregator
  contracts/metrics-aggregator.clar
Due: clarinet check

refactor: standardize exports and formatting for metrics-aggregator
  contracts/metrics-aggregator.clar
Due: clarinet check

feat: implement logic for risk-parameters.test
  tests/risk-parameters.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: clarify logic in risk-parameters.test
  tests/risk-parameters.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for risk-parameters.test
  tests/risk-parameters.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for strategy-arbitrage.test
  tests/strategy-arbitrage.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: update inline comments for strategy-arbitrage.test
  tests/strategy-arbitrage.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for strategy-arbitrage.test
  tests/strategy-arbitrage.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for token-emissions.test
  tests/token-emissions.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: clarify logic in token-emissions.test
  tests/token-emissions.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for token-emissions.test
  tests/token-emissions.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for MobileModal
  src/components/MobileModal.tsx
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for MobileModal
  src/components/MobileModal.tsx
Due: eslint --fix, prettier --write

docs: update inline comments for MobileModal
  src/components/MobileModal.tsx
Due: eslint --fix, prettier --write

feat: implement logic for vault-rewards.test
  tests/vault-rewards.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: update inline comments for vault-rewards.test
  tests/vault-rewards.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for vault-rewards.test
  tests/vault-rewards.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for RiskMetrics
  src/components/Portfolio/RiskMetrics.tsx
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for RiskMetrics
  src/components/Portfolio/RiskMetrics.tsx
Due: eslint --fix, prettier --write

docs: add technical documentation for RiskMetrics
  src/components/Portfolio/RiskMetrics.tsx
Due: eslint --fix, prettier --write

docs: add technical documentation for whitelist-manager
  contracts/whitelist-manager.clar
Due: clarinet check

feat: implement logic for whitelist-manager
  contracts/whitelist-manager.clar
Due: clarinet check

refactor: standardize exports and formatting for whitelist-manager
  contracts/whitelist-manager.clar
Due: clarinet check

docs: clarify logic in faucet
  contracts/faucet.clar
Due: clarinet check

feat: implement logic for faucet
  contracts/faucet.clar
Due: clarinet check

refactor: standardize exports and formatting for faucet
  contracts/faucet.clar
Due: clarinet check
