Repository teefeh-07/LoopChat: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, clarinet check, npm test --

feat: implement logic for oracle-security.test
  tests/oracle-security.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: add technical documentation for oracle-security.test
  tests/oracle-security.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for oracle-security.test
  tests/oracle-security.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for event-emitter.test
  tests/event-emitter.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: clarify logic in event-emitter.test
  tests/event-emitter.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for event-emitter.test
  tests/event-emitter.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: update inline comments for test-helpers.test
  tests/test-helpers.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for test-helpers.test
  tests/test-helpers.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for pwaConfig
  src/config/pwaConfig.ts
Due: eslint --fix, prettier --write

docs: update inline comments for pwaConfig
  src/config/pwaConfig.ts
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for pwaConfig
  src/config/pwaConfig.ts
Due: eslint --fix, prettier --write

feat: implement logic for PortfolioOverview
  src/components/Portfolio/PortfolioOverview.tsx
Due: eslint --fix, prettier --write

docs: add technical documentation for PortfolioOverview
  src/components/Portfolio/PortfolioOverview.tsx
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for PortfolioOverview
  src/components/Portfolio/PortfolioOverview.tsx
Due: eslint --fix, prettier --write

feat: implement logic for voting-escrow.test
  tests/voting-escrow.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: clarify logic in voting-escrow.test
  tests/voting-escrow.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for voting-escrow.test
  tests/voting-escrow.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for stacks-client
  src/lib/stacks-client.ts
Due: eslint --fix, prettier --write

docs: update inline comments for stacks-client
  src/lib/stacks-client.ts
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for stacks-client
  src/lib/stacks-client.ts
Due: eslint --fix, prettier --write

feat: implement logic for strategy-alex-pool.test
  tests/strategy-alex-pool.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: add technical documentation for strategy-alex-pool.test
  tests/strategy-alex-pool.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for strategy-alex-pool.test
  tests/strategy-alex-pool.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for token-vesting
  contracts/token-vesting.clar
Due: clarinet check

docs: clarify logic in token-vesting
  contracts/token-vesting.clar
Due: clarinet check

refactor: standardize exports and formatting for token-vesting
  contracts/token-vesting.clar
Due: clarinet check

feat: implement logic for routes
  src/types/routes.ts
Due: eslint --fix, prettier --write

docs: add technical documentation for routes
  src/types/routes.ts
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for routes
  src/types/routes.ts
Due: eslint --fix, prettier --write

feat: implement logic for wallet-integration.test
  src/__tests__/integration/wallet-integration.test.js
Due: eslint --fix, prettier --write

docs: update inline comments for wallet-integration.test
  src/__tests__/integration/wallet-integration.test.js
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for wallet-integration.test
  src/__tests__/integration/wallet-integration.test.js
Due: eslint --fix, prettier --write

feat: implement logic for arkadiko-connector
  contracts/arkadiko-connector.clar
Due: clarinet check

refactor: standardize exports and formatting for arkadiko-connector
  contracts/arkadiko-connector.clar
Due: clarinet check

docs: add technical documentation for arkadiko-connector
  contracts/arkadiko-connector.clar
Due: clarinet check

feat: implement logic for index
  src/components/Portfolio/index.ts
Due: eslint --fix, prettier --write

docs: update inline comments for index
  src/components/Portfolio/index.ts
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for index
  src/components/Portfolio/index.ts
Due: eslint --fix, prettier --write

feat: implement logic for csvExport
  src/utils/csvExport.ts
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for csvExport
  src/utils/csvExport.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})
  clarinet check: any of: *.clar
  npm test --: any of: tests/**/*.test.ts
