Repository teefeh-07/LoopChat: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, clarinet check, npm test --

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "*.clar": [
    "clarinet check"
  ],
  "tests/**/*.test.ts": [
    "npm test --"
  ]
}

docs: add technical documentation for performance-tracker
  contracts/performance-tracker.clar
Due: clarinet check

refactor: standardize exports and formatting for performance-tracker
  contracts/performance-tracker.clar
Due: clarinet check

feat: implement logic for volatility-tracker
  contracts/volatility-tracker.clar
Due: clarinet check

docs: add technical documentation for volatility-tracker
  contracts/volatility-tracker.clar
Due: clarinet check

refactor: standardize exports and formatting for volatility-tracker
  contracts/volatility-tracker.clar
Due: clarinet check

docs: add technical documentation for time-utils.test
  tests/time-utils.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for time-utils.test
  tests/time-utils.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for useWalletSwitcher
  src/hooks/useWalletSwitcher.ts
Due: eslint --fix, prettier --write

docs: add technical documentation for useWalletSwitcher
  src/hooks/useWalletSwitcher.ts
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for useWalletSwitcher
  src/hooks/useWalletSwitcher.ts
Due: eslint --fix, prettier --write

feat: implement logic for permission-manager
  contracts/permission-manager.clar
Due: clarinet check

docs: add technical documentation for permission-manager
  contracts/permission-manager.clar
Due: clarinet check

refactor: standardize exports and formatting for permission-manager
  contracts/permission-manager.clar
Due: clarinet check

feat: implement logic for strategy-flash-loans
  contracts/strategy-flash-loans.clar
Due: clarinet check

docs: add technical documentation for strategy-flash-loans
  contracts/strategy-flash-loans.clar
Due: clarinet check

refactor: standardize exports and formatting for strategy-flash-loans
  contracts/strategy-flash-loans.clar
Due: clarinet check

feat: implement logic for cross-chain-bridge
  contracts/cross-chain-bridge.clar
Due: clarinet check

docs: add technical documentation for cross-chain-bridge
  contracts/cross-chain-bridge.clar
Due: clarinet check

refactor: standardize exports and formatting for cross-chain-bridge
  contracts/cross-chain-bridge.clar
Due: clarinet check

feat: implement logic for swap-router
  contracts/swap-router.clar
Due: clarinet check

docs: add technical documentation for swap-router
  contracts/swap-router.clar
Due: clarinet check

refactor: standardize exports and formatting for swap-router
  contracts/swap-router.clar
Due: clarinet check

feat: implement logic for LeatherAdapter
  src/services/wallets/LeatherAdapter.ts
Due: eslint --fix, prettier --write

docs: add technical documentation for LeatherAdapter
  src/services/wallets/LeatherAdapter.ts
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for LeatherAdapter
  src/services/wallets/LeatherAdapter.ts
Due: eslint --fix, prettier --write

feat: implement logic for main
  src/main.tsx
Due: eslint --fix, prettier --write

docs: add technical documentation for main
  src/main.tsx
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for main
  src/main.tsx
Due: eslint --fix, prettier --write

docs: add technical documentation for strategy-flash-loans.test
  tests/strategy-flash-loans.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for strategy-flash-loans.test
  tests/strategy-flash-loans.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for analytics-tracker
  contracts/analytics-tracker.clar
Due: clarinet check

docs: add technical documentation for analytics-tracker
  contracts/analytics-tracker.clar
Due: clarinet check

refactor: standardize exports and formatting for analytics-tracker
  contracts/analytics-tracker.clar
Due: clarinet check

docs: add technical documentation for faucet.test
  tests/faucet.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for faucet.test
  tests/faucet.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for usePortfolio
  src/hooks/usePortfolio.ts
Due: eslint --fix, prettier --write

docs: add technical documentation for usePortfolio
  src/hooks/usePortfolio.ts
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for usePortfolio
  src/hooks/usePortfolio.ts
Due: eslint --fix, prettier --write

feat: implement logic for portfolioConfig
  src/config/portfolioConfig.ts
Due: eslint --fix, prettier --write

docs: add technical documentation for portfolioConfig
  src/config/portfolioConfig.ts
Due: eslint --fix, prettier --write
