Repository teefeh-07/LoopChat: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, clarinet check, npm test --

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "*.clar": [
    "clarinet check"
  ],
  "tests/**/*.test.ts": [
    "npm test --"
  ]
}

feat: implement logic for walletConfig
  src/config/walletConfig.ts
Due: eslint --fix, prettier --write

docs: update inline comments for walletConfig
  src/config/walletConfig.ts
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for walletConfig
  src/config/walletConfig.ts
Due: eslint --fix, prettier --write

docs: update inline comments for price-oracle-pyth
  contracts/price-oracle-pyth.clar
Due: clarinet check

feat: implement logic for price-oracle-pyth
  contracts/price-oracle-pyth.clar
Due: clarinet check

refactor: standardize exports and formatting for price-oracle-pyth
  contracts/price-oracle-pyth.clar
Due: clarinet check

docs: add technical documentation for wallet.test
  src/utils/__tests__/wallet.test.js
Due: eslint --fix, prettier --write

feat: implement logic for wallet.test
  src/utils/__tests__/wallet.test.js
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for wallet.test
  src/utils/__tests__/wallet.test.js
Due: eslint --fix, prettier --write

feat: implement logic for faucet.test
  tests/faucet.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: clarify logic in faucet.test
  tests/faucet.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for faucet.test
  tests/faucet.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for vault-fee-collector.test
  tests/vault-fee-collector.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: update inline comments for vault-fee-collector.test
  tests/vault-fee-collector.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for vault-fee-collector.test
  tests/vault-fee-collector.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for vault-staking.test
  tests/vault-staking.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for vault-staking.test
  tests/vault-staking.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: clarify logic in vault-staking.test
  tests/vault-staking.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: update inline comments for About
  src/pages/About.tsx
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for About
  src/pages/About.tsx
Due: eslint --fix, prettier --write

feat: implement logic for About
  src/pages/About.tsx
Due: eslint --fix, prettier --write

feat: implement logic for multi-sig.test
  tests/multi-sig.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: clarify logic in multi-sig.test
  tests/multi-sig.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for multi-sig.test
  tests/multi-sig.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for strategy-engine
  contracts/strategy-engine.clar
Due: clarinet check

feat: implement logic for strategy-engine
  contracts/strategy-engine.clar
Due: clarinet check

docs: clarify logic in strategy-engine
  contracts/strategy-engine.clar
Due: clarinet check

feat: implement logic for test-token-b.test
  tests/test-token-b.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for test-token-b.test
  tests/test-token-b.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: add technical documentation for test-token-b.test
  tests/test-token-b.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for price-feed-aggregator.test
  tests/price-feed-aggregator.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for price-feed-aggregator.test
  tests/price-feed-aggregator.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: update inline comments for price-feed-aggregator.test
  tests/price-feed-aggregator.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for faucet
  contracts/faucet.clar
Due: clarinet check

docs: update inline comments for faucet
  contracts/faucet.clar
Due: clarinet check

refactor: standardize exports and formatting for faucet
  contracts/faucet.clar
Due: clarinet check

feat: implement logic for risk-assessment
  contracts/risk-assessment.clar
Due: clarinet check

docs: clarify logic in risk-assessment
  contracts/risk-assessment.clar
Due: clarinet check

refactor: standardize exports and formatting for risk-assessment
  contracts/risk-assessment.clar
Due: clarinet check

feat: implement logic for strategy-borrowing
  contracts/strategy-borrowing.clar
Due: clarinet check
