Repository teefeh-07/LoopChat: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, clarinet check, npm test --

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "*.clar": [
    "clarinet check"
  ],
  "tests/**/*.test.ts": [
    "npm test --"
  ]
}

refactor: standardize exports and formatting for test-helpers.test
  tests/test-helpers.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: clarify logic in test-helpers.test
  tests/test-helpers.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for price-feed-aggregator
  contracts/price-feed-aggregator.clar
Due: clarinet check

refactor: standardize exports and formatting for price-feed-aggregator
  contracts/price-feed-aggregator.clar
Due: clarinet check

docs: add technical documentation for price-feed-aggregator
  contracts/price-feed-aggregator.clar
Due: clarinet check

refactor: standardize exports and formatting for MobileNavigation
  src/components/MobileNavigation.tsx
Due: eslint --fix, prettier --write

feat: implement logic for MobileNavigation
  src/components/MobileNavigation.tsx
Due: eslint --fix, prettier --write

docs: add technical documentation for MobileNavigation
  src/components/MobileNavigation.tsx
Due: eslint --fix, prettier --write

feat: implement logic for errorRecovery
  src/services/errorRecovery.js
Due: eslint --fix, prettier --write

docs: clarify logic in errorRecovery
  src/services/errorRecovery.js
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for errorRecovery
  src/services/errorRecovery.js
Due: eslint --fix, prettier --write

feat: implement logic for fee-tracker.test
  tests/fee-tracker.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: update inline comments for fee-tracker.test
  tests/fee-tracker.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for fee-tracker.test
  tests/fee-tracker.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for PerformanceChart
  src/components/Portfolio/PerformanceChart.tsx
Due: eslint --fix, prettier --write

docs: update inline comments for PerformanceChart
  src/components/Portfolio/PerformanceChart.tsx
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for PerformanceChart
  src/components/Portfolio/PerformanceChart.tsx
Due: eslint --fix, prettier --write

feat: implement logic for TransactionHistory
  src/components/Portfolio/TransactionHistory.tsx
Due: eslint --fix, prettier --write

docs: update inline comments for TransactionHistory
  src/components/Portfolio/TransactionHistory.tsx
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for TransactionHistory
  src/components/Portfolio/TransactionHistory.tsx
Due: eslint --fix, prettier --write

feat: implement logic for performanceMonitor
  src/utils/performanceMonitor.js
Due: eslint --fix, prettier --write

docs: update inline comments for performanceMonitor
  src/utils/performanceMonitor.js
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for performanceMonitor
  src/utils/performanceMonitor.js
Due: eslint --fix, prettier --write

docs: add technical documentation for errorTypes
  src/utils/errorTypes.js
Due: eslint --fix, prettier --write

feat: implement logic for errorTypes
  src/utils/errorTypes.js
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for errorTypes
  src/utils/errorTypes.js
Due: eslint --fix, prettier --write

feat: implement logic for swap-router.test
  tests/swap-router.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for swap-router.test
  tests/swap-router.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: update inline comments for swap-router.test
  tests/swap-router.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for strategy-velar-lp
  contracts/strategy-velar-lp.clar
Due: clarinet check

docs: update inline comments for strategy-velar-lp
  contracts/strategy-velar-lp.clar
Due: clarinet check

refactor: standardize exports and formatting for strategy-velar-lp
  contracts/strategy-velar-lp.clar
Due: clarinet check

feat: implement logic for integration.test
  tests/integration.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: update inline comments for integration.test
  tests/integration.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for integration.test
  tests/integration.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for reownAppKit
  src/utils/reownAppKit.js
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for reownAppKit
  src/utils/reownAppKit.js
Due: eslint --fix, prettier --write

docs: clarify logic in reownAppKit
  src/utils/reownAppKit.js
Due: eslint --fix, prettier --write

feat: implement logic for serviceWorkerRegistration
  src/utils/serviceWorkerRegistration.ts
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for serviceWorkerRegistration
  src/utils/serviceWorkerRegistration.ts
Due: eslint --fix, prettier --write
