Repository teefeh-07/LoopChat: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, clarinet check, npm test --

docs: clarify logic in WalletConnect
  src/components/WalletConnect.tsx
  tests/strategy-options-selling.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for WalletConnect
  src/components/WalletConnect.tsx
  tests/strategy-options-selling.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for WalletConnect
  src/components/WalletConnect.tsx
Due: eslint --fix, prettier --write

docs: add technical documentation for risk-assessment
  contracts/risk-assessment.clar
Due: clarinet check

feat: implement logic for stackswap-connector.test
  contracts/risk-assessment.clar
  tests/stackswap-connector.test.ts
Due: eslint --fix, prettier --write, clarinet check, npm test --

refactor: standardize exports and formatting for stackswap-connector.test
  tests/stackswap-connector.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: clarify logic in stackswap-connector.test
  tests/stackswap-connector.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for vitest.config
  vitest.config.js
Due: eslint --fix, prettier --write

docs: add technical documentation for vitest.config
  vitest.config.js
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for vitest.config
  vitest.config.js
Due: eslint --fix, prettier --write

feat: implement logic for liquidation-bot.test
  tests/liquidation-bot.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: add technical documentation for liquidation-bot.test
  tests/liquidation-bot.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: clarify logic in multi-sig
  contracts/multi-sig.clar
Due: clarinet check

feat: implement logic for multi-sig
  tests/liquidation-bot.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for multi-sig
  contracts/multi-sig.clar
  src/components/Portfolio/PerformanceChart.tsx
Due: eslint --fix, prettier --write, clarinet check

refactor: standardize exports and formatting for PerformanceChart
  src/components/Portfolio/PerformanceChart.tsx
Due: eslint --fix, prettier --write

docs: update inline comments for PerformanceChart
  src/components/Portfolio/PerformanceChart.tsx
Due: eslint --fix, prettier --write

docs: add technical documentation for collateral-manager
  contracts/collateral-manager.clar
Due: clarinet check

feat: implement logic for collateral-manager
  contracts/collateral-manager.clar
Due: clarinet check

docs: add technical documentation for health-factor-monitor.test
  tests/health-factor-monitor.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for health-factor-monitor.test
  contracts/collateral-manager.clar
  tests/health-factor-monitor.test.ts
Due: eslint --fix, prettier --write, clarinet check, npm test --

feat: implement logic for SkeletonLoader
  src/components/SkeletonLoader.tsx
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for health-factor-monitor.test
  tests/health-factor-monitor.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for faucet
  contracts/faucet.clar
  src/components/SkeletonLoader.tsx
Due: eslint --fix, prettier --write, clarinet check

refactor: standardize exports and formatting for faucet
  contracts/faucet.clar
Due: clarinet check

docs: add technical documentation for kyc-registry.test
  tests/kyc-registry.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for kyc-registry.test
  tests/kyc-registry.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for kyc-registry.test
  tests/kyc-registry.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for conversion-utils
  contracts/conversion-utils.clar
Due: clarinet check

docs: clarify logic in conversion-utils
  contracts/conversion-utils.clar
Due: clarinet check

refactor: standardize exports and formatting for conversion-utils
  contracts/conversion-utils.clar
Due: clarinet check

feat: implement logic for index
  server/index.js
Due: eslint --fix, prettier --write

feat: implement logic for strategy-yield-farming.test
  server/index.js
  tests/strategy-yield-farming.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: add technical documentation for strategy-yield-farming.test
  tests/strategy-yield-farming.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for strategy-borrowing
  contracts/strategy-borrowing.clar
  src/utils/networkRecovery.js
Due: eslint --fix, prettier --write, clarinet check

docs: add technical documentation for networkRecovery
  contracts/strategy-borrowing.clar
  src/utils/networkRecovery.js
Due: eslint --fix, prettier --write, clarinet check

refactor: standardize exports and formatting for strategy-borrowing
  contracts/strategy-borrowing.clar
  src/utils/networkRecovery.js
Due: eslint --fix, prettier --write, clarinet check

feat: implement logic for vault-factory.test
  tests/vault-factory.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: update inline comments for encoding-utils.test
  tests/encoding-utils.test.ts
  tests/vault-factory.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for encoding-utils.test
  tests/encoding-utils.test.ts
  tests/vault-factory.test.ts
Due: eslint --fix, prettier --write, npm test --

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})
  clarinet check: any of: *.clar
  npm test --: any of: tests/**/*.test.ts
