Repository teefeh-07/LoopChat: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, clarinet check, npm test --

feat: implement logic for cross-chain-bridge
  contracts/cross-chain-bridge.clar
  contracts/governance-token.clar
Due: clarinet check

docs: update inline comments for cross-chain-bridge
  contracts/cross-chain-bridge.clar
  tests/governance-treasury.test.ts
Due: eslint --fix, prettier --write, clarinet check, npm test --

refactor: standardize exports and formatting for cross-chain-bridge
  tests/governance-treasury.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for price-feed-aggregator
  contracts/price-feed-aggregator.clar
  src/__tests__/integration/wallet-integration.test.js
Due: eslint --fix, prettier --write, clarinet check

docs: clarify logic in wallet-integration.test
  contracts/price-feed-aggregator.clar
Due: clarinet check

refactor: standardize exports and formatting for price-feed-aggregator
  contracts/price-feed-aggregator.clar
Due: clarinet check

feat: implement logic for Navigation
  src/components/Navigation.tsx
Due: eslint --fix, prettier --write

docs: add technical documentation for ProfitLossAnalytics
  src/components/Navigation.tsx
  src/components/Portfolio/ProfitLossAnalytics.tsx
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for Navigation
  src/components/Navigation.tsx
  src/components/Portfolio/ProfitLossAnalytics.tsx
Due: eslint --fix, prettier --write

feat: implement logic for performanceOptimization
  src/utils/performanceOptimization.ts
Due: eslint --fix, prettier --write

docs: add technical documentation for performanceOptimization
  src/utils/performanceOptimization.ts
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for performanceOptimization
  src/utils/performanceOptimization.ts
Due: eslint --fix, prettier --write

feat: implement logic for test-token-a
  contracts/test-token-a.clar
Due: clarinet check

docs: add technical documentation for test-token-a
  contracts/test-token-a.clar
Due: clarinet check

refactor: standardize exports and formatting for test-token-a
  contracts/test-token-a.clar
Due: clarinet check

feat: implement logic for useWallet.test
  src/hooks/__tests__/useWallet.test.js
  tests/test-token-a.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: update inline comments for test-token-a.test
  tests/test-token-a.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for test-token-a.test
  src/hooks/__tests__/useWallet.test.js
  tests/test-token-a.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: clarify logic in strategy-delta-neutral.test
  tests/fee-tracker.test.ts
  tests/strategy-delta-neutral.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for fee-tracker.test
  tests/fee-tracker.test.ts
  tests/strategy-delta-neutral.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for fee-tracker.test
  tests/fee-tracker.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for reownAppKit
  src/utils/reownAppKit.js
  tests/strategy-delta-neutral.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: update inline comments for strategy-delta-neutral.test
  src/utils/reownAppKit.js
  tests/strategy-delta-neutral.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for strategy-delta-neutral.test
  src/utils/reownAppKit.js
  tests/strategy-delta-neutral.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for event-emitter.test
  contracts/strategy-arbitrage.clar
  tests/event-emitter.test.ts
Due: eslint --fix, prettier --write, clarinet check, npm test --

docs: update inline comments for event-emitter.test
  contracts/strategy-arbitrage.clar
Due: clarinet check

refactor: standardize exports and formatting for event-emitter.test
  tests/event-emitter.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for errorMessages
  src/utils/errorMessages.js
Due: eslint --fix, prettier --write

docs: clarify logic in errorMessages
  src/utils/errorMessages.js
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for errorMessages
  src/utils/errorMessages.js
Due: eslint --fix, prettier --write

feat: implement logic for test-helpers.test
  tests/integration.test.ts
  tests/test-helpers.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: update inline comments for test-helpers.test
  tests/test-helpers.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for test-helpers.test
  tests/test-helpers.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for swap-router.test
  tests/swap-router.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for strategy-borrowing.test
  tests/strategy-borrowing.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for strategy-borrowing.test
  tests/strategy-borrowing.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for swap-router.test
  tests/swap-router.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for string-utils
  contracts/string-utils.clar
Due: clarinet check

refactor: standardize exports and formatting for pwaConfig
  src/config/pwaConfig.ts
Due: eslint --fix, prettier --write

docs: update inline comments for string-utils
  contracts/string-utils.clar
  src/config/pwaConfig.ts
Due: eslint --fix, prettier --write, clarinet check

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})
  clarinet check: any of: *.clar
  npm test --: any of: tests/**/*.test.ts
