Repository teefeh-07/LoopChat: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, clarinet check, npm test --

feat: implement logic for strategy-arkadiko-stake
  contracts/strategy-arkadiko-stake.clar
Due: clarinet check

docs: clarify logic in strategy-arkadiko-stake
  contracts/strategy-arkadiko-stake.clar
Due: clarinet check

refactor: standardize exports and formatting for strategy-arkadiko-stake
  contracts/strategy-arkadiko-stake.clar
Due: clarinet check

refactor: standardize exports and formatting for fee-tracker
  contracts/fee-tracker.clar
Due: clarinet check

feat: implement logic for fee-tracker
  contracts/fee-tracker.clar
Due: clarinet check

docs: update inline comments for fee-tracker
  contracts/fee-tracker.clar
Due: clarinet check

refactor: standardize exports and formatting for governance-treasury
  contracts/governance-treasury.clar
Due: clarinet check

docs: update inline comments for governance-treasury
  contracts/governance-treasury.clar
Due: clarinet check

feat: implement logic for vault-emergency
  contracts/vault-emergency.clar
Due: clarinet check

docs: clarify logic in vault-emergency
  contracts/vault-emergency.clar
Due: clarinet check

refactor: standardize exports and formatting for vault-emergency
  contracts/vault-emergency.clar
Due: clarinet check

docs: update inline comments for validation
  src/utils/validation.js
Due: eslint --fix, prettier --write

feat: implement logic for validation
  src/utils/validation.js
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for validation
  src/utils/validation.js
Due: eslint --fix, prettier --write

feat: implement logic for ltv-calculator
  contracts/ltv-calculator.clar
Due: clarinet check

docs: add technical documentation for ltv-calculator
  contracts/ltv-calculator.clar
Due: clarinet check

refactor: standardize exports and formatting for ltv-calculator
  contracts/ltv-calculator.clar
Due: clarinet check

docs: update inline comments for faucet.test
  tests/faucet.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for faucet.test
  tests/faucet.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for faucet.test
  tests/faucet.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: clarify logic in AllocationChart
  src/components/Portfolio/AllocationChart.tsx
Due: eslint --fix, prettier --write

feat: implement logic for AllocationChart
  src/components/Portfolio/AllocationChart.tsx
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for AllocationChart
  src/components/Portfolio/AllocationChart.tsx
Due: eslint --fix, prettier --write

feat: implement logic for vault-staking.test
  tests/vault-staking.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for vault-staking.test
  tests/vault-staking.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: update inline comments for vault-staking.test
  tests/vault-staking.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: clarify logic in RealtimeActivityFeed
  src/components/RealtimeActivityFeed.tsx
Due: eslint --fix, prettier --write

feat: implement logic for RealtimeActivityFeed
  src/components/RealtimeActivityFeed.tsx
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for RealtimeActivityFeed
  src/components/RealtimeActivityFeed.tsx
Due: eslint --fix, prettier --write

feat: implement logic for conversion-utils.test
  tests/conversion-utils.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: add technical documentation for conversion-utils.test
  tests/conversion-utils.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for conversion-utils.test
  tests/conversion-utils.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for strategy-hedging.test
  tests/strategy-hedging.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: update inline comments for strategy-hedging.test
  tests/strategy-hedging.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for strategy-hedging.test
  tests/strategy-hedging.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: clarify logic in oracle-security
  contracts/oracle-security.clar
Due: clarinet check

refactor: standardize exports and formatting for oracle-security
  contracts/oracle-security.clar
Due: clarinet check

feat: implement logic for oracle-security
  contracts/oracle-security.clar
Due: clarinet check

feat: implement logic for gas-optimization.test
  tests/gas-optimization.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for gas-optimization.test
  tests/gas-optimization.test.ts
Due: eslint --fix, prettier --write, npm test --

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})
  clarinet check: any of: *.clar
  npm test --: any of: tests/**/*.test.ts
