Repository teefeh-07/LoopChat: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, clarinet check, npm test --

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "*.clar": [
    "clarinet check"
  ],
  "tests/**/*.test.ts": [
    "npm test --"
  ]
}

feat: implement logic for governance-token.test
  tests/governance-token.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for governance-token.test
  tests/governance-token.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for mock-oracle.test
  tests/mock-oracle.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for mock-oracle.test
  tests/mock-oracle.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: add technical documentation for mock-oracle.test
  tests/mock-oracle.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: clarify logic in oracle-security
  contracts/oracle-security.clar
Due: clarinet check

feat: implement logic for oracle-security
  contracts/oracle-security.clar
Due: clarinet check

refactor: standardize exports and formatting for oracle-security
  contracts/oracle-security.clar
Due: clarinet check

feat: implement logic for strategy-delta-neutral
  contracts/strategy-delta-neutral.clar
Due: clarinet check

docs: clarify logic in strategy-delta-neutral
  contracts/strategy-delta-neutral.clar
Due: clarinet check

refactor: standardize exports and formatting for strategy-delta-neutral
  contracts/strategy-delta-neutral.clar
Due: clarinet check

feat: implement logic for conversion-utils.test
  tests/conversion-utils.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: update inline comments for conversion-utils.test
  tests/conversion-utils.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for conversion-utils.test
  tests/conversion-utils.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for token-emissions.test
  tests/token-emissions.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: update inline comments for token-emissions.test
  tests/token-emissions.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for token-emissions.test
  tests/token-emissions.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: clarify logic in strategy-ststx-stake.test
  tests/strategy-ststx-stake.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for strategy-ststx-stake.test
  tests/strategy-ststx-stake.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for strategy-ststx-stake.test
  tests/strategy-ststx-stake.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for liquidation-bot.test
  tests/liquidation-bot.test.ts
Due: eslint --fix, prettier --write, npm test --

docs: update inline comments for liquidation-bot.test
  tests/liquidation-bot.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for liquidation-bot.test
  tests/liquidation-bot.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for strategy-yield-farming
  contracts/strategy-yield-farming.clar
Due: clarinet check

refactor: standardize exports and formatting for strategy-yield-farming
  contracts/strategy-yield-farming.clar
Due: clarinet check

docs: update inline comments for strategy-yield-farming
  contracts/strategy-yield-farming.clar
Due: clarinet check

docs: update inline comments for wallet
  src/utils/wallet.js
Due: eslint --fix, prettier --write

feat: implement logic for wallet
  src/utils/wallet.js
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for wallet
  src/utils/wallet.js
Due: eslint --fix, prettier --write

feat: implement logic for ChainhookService
  src/services/ChainhookService.ts
Due: eslint --fix, prettier --write

docs: update inline comments for ChainhookService
  src/services/ChainhookService.ts
Due: eslint --fix, prettier --write

refactor: standardize exports and formatting for ChainhookService
  src/services/ChainhookService.ts
Due: eslint --fix, prettier --write

docs: clarify logic in event-emitter.test
  tests/event-emitter.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for event-emitter.test
  tests/event-emitter.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for event-emitter.test
  tests/event-emitter.test.ts
Due: eslint --fix, prettier --write, npm test --

feat: implement logic for test-token-a
  contracts/test-token-a.clar
Due: clarinet check

refactor: standardize exports and formatting for test-token-a
  contracts/test-token-a.clar
Due: clarinet check

docs: add technical documentation for test-token-a
  contracts/test-token-a.clar
Due: clarinet check

feat: implement logic for stackswap-connector.test
  tests/stackswap-connector.test.ts
Due: eslint --fix, prettier --write, npm test --

refactor: standardize exports and formatting for stackswap-connector.test
  tests/stackswap-connector.test.ts
Due: eslint --fix, prettier --write, npm test --
